﻿@model TaskLancer.Models.SkillTag

@{
    ViewData["Title"] = "Create SkillTag";
}

<h4 class="pt-3">Create SkillTag</h4>
<hr />
<div class="card">
    <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" asp-controller="BackOffice" asp-action="Index">Manage Content</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="BackOffice" asp-action="ManageUsers">Manage Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="BackOffice" asp-action="Statistics">Statistics</a>
                </li>
            </ul>
        </div>
    <div class="card-body">
        @if(!String.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.Message
            </div>
        }

        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <p></p>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn button-colors" />
                    </div>
                </form>
            </div>
        </div>
        <p></p>
        <div>
            <a asp-action="Index" class="btn button-colors">Back to List</a>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
