﻿@model IEnumerable<TaskLancer.Models.SkillTag>

@{
    ViewData["Title"] = "BackOffice - Manage SkillTags";
}

<h4 class="pt-3">BackOffice - Manage SkillTags</h4>
<hr />
<div class="card">
    <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" asp-controller="BackOffice" asp-action="Index">Manage Content</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="BackOffice" asp-action="ManageUsers">Manage Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="BackOffice" asp-action="Statistics">Statistics</a>
                </li>
            </ul>
        </div>
    <div class="card-body">
        <p>
            <a asp-controller="CategoryTags" asp-action="Index" class="btn button-colors"> Manage CategoryTags</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
             @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.SkillTagId" class="btn button-colors">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.SkillTagId" class="btn button-colors">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.SkillTagId" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
             }
            </tbody>
        </table>
        <a asp-action="Create" class="btn button-colors">New SkillTag</a>
    </div>
</div>