﻿@using TaskLancer.Models.FileTransfer.DAL
@model IEnumerable<File>;

<div class="card" style="max-width: 50rem">

    <div class="card-header">
        File Download
    </div>

    <ul class="list-group list-group-flush">
        @foreach (File file in Model)
        {
            <li class="list-group-item d-flex flex-row justify-content-between align-items-center">
                <p class="mb-0" style="word-break: break-all;">@file.Name</p>
                <input id="download-button" class="btn btn-outline-dark" type="button" value="Download" onclick="DownloadAsync('@file.FileId')" />
            </li>

        }
    </ul>
   
</div>

<script type="text/javascript">
       async function DownloadAsync(fileId){
          try {
              const response = await fetch("https://" + location.host + "/FileTransfer/DownloadFile/" + fileId, {
                  method: 'GET',
              }).then(function(resp) {
                  console.dir(resp);
                  resp.blob()
                    .then(function(blob){
                      console.dir(blob);
                      var fileName = resp.headers.get('content-disposition').split('filename=')[1].split(';')[0];
                      var contentType = resp.headers.get('content-type');
                      download(blob, fileName, contentType);
                  });
               });
          } catch (error) {
              console.error('Error:', error);
          }
       }

</script>