﻿@model TaskLancer.Controllers.FileTransferController.FilesViewModel;

<div class="card mt-3">
    <div class="card-body">
        @await Html.PartialAsync("UploadPartial", Model.UploadPartialViewModel)
        <br />
        @await Html.PartialAsync("DownloadPartial", Model.DownloadFiles)
    </div>
   
</div>


@section Scripts {
    <script type="text/javascript">
        
        $(document).on("fileAdded", (event, fileId, fileListJson) => {
            console.log(fileId);
            console.log(fileListJson);
        });

    </script>
}

