﻿@using TaskLancer.Views.FileTransfer;
@using TaskLancer.Models.FileTransfer.DAL
@model UploadPartialViewModel


<div class="card" id="@Model.FieldName-upload" style="max-width: 50rem">
    <div class="card-header">
        File Upload
    </div>

    <div class="card-body">

        <div class="d-flex mb-2">
            <div class="">
               <input id="fileInput" class="form-control " type="file" onchange="changedFile(this, '@Model.FieldName')"/>
            </div>
            <div class="">
                <input id="upload-button" disabled class="btn btn-primary button-colors " type="button" value="Upload" onclick="UploadFile('@Model.FieldName')" />
            </div>
        </div>



        <div class="card">

            <div class="card-header">
                Uploaded Files
            </div>


            <ul id="uploaded-files-list" class="list-group list-group-flush ">
                @if(Model.PreviouslyUploadedFiles != null)
                {
                    @foreach (File file in Model.PreviouslyUploadedFiles)
                {
                    <li id="uploaded-@(file.FileId.Replace('.', '_'))" class="list-group-item d-flex flex-row justify-content-between align-items-center">
                        <p class="mb-0" style="word-break: break-all;">@file.Name</p>
                        <input id="remove-button" class="btn btn-outline-dark " type="button" value="Remove" onclick="RemoveAsync('@file.FileId', '@Model.FieldName')" />
                    </li>
                }
                }
                
            </ul>

        </div>

    </div>

    <input asp-for="UploadedFilesJson" id="uploaded-files-ids" type="hidden" />
    <input asp-for="AccessPolicy" id="access-policy" type="hidden" />
    <input asp-for="FieldName" id="field-name" class="" type="hidden" />

</div>



<script type="text/javascript">

    function getFilesIds(fieldName){
        return $(`#${fieldName}-upload`).find("#uploaded-files-ids").val();
    }

    function getFilesArray(fieldName){
        var filesIds = this.getFilesIds(fieldName);

        if(filesIds){
           return JSON.parse(filesIds);
        } else {
            return [];
        }
    }

    function setFilesIds(filesIds, fieldName){
        $(`#${fieldName}-upload`).find("#uploaded-files-ids").val(filesIds);
    }

    function getUploadAction(fieldName){
        if($(`#${fieldName}-upload`).find("#access-policy").val() == 'public'){
            return "UploadPublicFile";
        }else {
            return "UploadPrivateFile";
        }
    }

    function getUploadButtonElement(fieldName){
        return $(`#${fieldName}-upload`).find("#upload-button");
    }

    function changedFile (elem, fieldName) {
        var uploadButton = getUploadButtonElement(fieldName);

        if(elem.files.length == 0){
            console.log("disabling");
            uploadButton.prop("disabled", true);
        } else {
            console.log("enabling");
            uploadButton.prop("disabled", false);
        }
    } 

    function AddFile(fileId, fieldName) {
        var idArray = getFilesArray(fieldName);

        idArray.push(fileId);

        var filesIdsJson = JSON.stringify(idArray);


        this.setFilesIds(filesIdsJson, fieldName);

        $(document).trigger("fileAdded", [fileId, filesIdsJson, fieldName]);
    }

    function RemoveFile(fileId, fieldName) {
         var idArray = getFilesArray(fieldName);

        idArray = idArray.filter(id => {
            if(id == fileId)
                return false;
            else
                return true;
        });

        var filesIdsJson = JSON.stringify(idArray);

        this.setFilesIds(filesIdsJson, fieldName);

        $(document).trigger("fileRemoved", [fileId, filesIdsJson, fieldName]);
    }

    async function RemoveAsync(fileId, fieldName)  {
        console.log(`Removing File: ${fileId}`);
        try {
            const response = await fetch("https://" + location.host + "/FileTransfer/DeleteFile/" + fileId, {
                method: 'DELETE',
            }).then(function(resp) {
                console.dir(resp);
                var elemId = `#uploaded-${fileId.replace('.', '_')}`;
                console.log(elemId);
                var elem = $(elemId);
                console.dir(elem);
                elem.remove();

                this.RemoveFile(fileId, fieldName);
            });
        } catch (error) {
            console.error('Error:', error);
        }

    }

    function getFileInputElement(fieldName){
        return $(`#${fieldName}-upload`).find("#fileInput");
    }

    function getUploadedFilesListElement(fieldName){
        return $(`#${fieldName}-upload`).find("#uploaded-files-list");
    }

    async function UploadFile (fieldName) {

        var fileInput = this.getFileInputElement(fieldName);

        const formData = new FormData();
        formData.append('file', fileInput.prop("files")[0]);

        var fileName = fileInput.val().replace(/.*(\/|\\)/, '');
        //var listElement = $(`<div></div>`).addClass("card");
        //$("#uploaded-files-list").append(listElement);

        //var fileNameElement = $(`<p>${fileName}</p>`).appendTo(listElement);
        //var fileStatusElement = $(`<p>Uploading</p>`).appendTo(listElement);

        var fileElement = $(`
            <li class="list-group-item d-flex flex-row justify-content-between align-items-center">
                <p class="mb-0" style="word-break: break-all;">${fileName}</p>
                <p class="mb-0"">Uploading...</p>
            </li>
        `).appendTo(this.getUploadedFilesListElement(fieldName));

        fileInput.val("");
        fileInput.trigger("change");

        try {
        const response = await fetch(`https://${location.host}/FileTransfer/${this.getUploadAction(fieldName)}`, {
            method: 'POST',
            body: formData,
        }).then(data => {
            if (!data.ok) {
            throw Error(data.status);
            }
            return data.json();
            }).then(data => {
                console.dir(data);
                fileElement.replaceWith($(`
                    <li id="uploaded-${data.fileId.replace('.', '_')}" class="list-group-item d-flex flex-row justify-content-between align-items-center">
                        <p class="mb-0" style="word-break: break-all;">${fileName}</p>
                        <input id="remove-button" class="btn btn-outline-dark" type="button" value="Remove" onclick="RemoveAsync('${data.fileId}', '${fieldName}')" />
                    </li>
                `));
                this.AddFile(data.fileId, fieldName);
            });
        } catch (error) {
            console.error('Error:', error);
        }


        }

</script>