﻿@using TaskLancer.Controllers
@model PaymentViewModel

@{
    ViewData["Title"] = "Recieved Payouts";
}

<div>
    <h4 class="pt-3">Recieved Payouts</h4>
    <hr />

    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="UserPayments" asp-action="UnpaidPayments">Pending Payments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="UserPayments" asp-action="PaidPayments">Paid Payments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-controller="UserPayments" asp-action="Payouts">Recieved Payouts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="UserPayments" asp-action="RefundedPayments">Refunded</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="UserPayments" asp-action="CanceledPayments">Canceled</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            @{

                if(Model.ShowStatusMessage)
                {
                    if (Model.Successful)
                    {
                        <div class="alert alert-success row" role="alert">
                            <button type="button" class="btn-close col-sm-1" data-bs-dismiss="alert" aria-label="Close"></button>
                            <div class="col-sm-11">
                                <p> @Model.StatusMessageTitle</p>
                                <p>  @Model.StatusMessageDescription</p>
                            </div>

                            
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            <div class="row"> @Model.StatusMessageTitle</div>
                            <div class="row">  @Model.StatusMessageDescription</div>
                        </div>
                    }

                }
            }
            @foreach(var item in Model.Payments)
            {
                <div class="card overflow-auto my-2 card-style">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-sm-11">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                                <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                                <p class="card-text">Payout Amout: @Html.DisplayFor(modelItem => item.SubTotal) @Html.DisplayFor(modelItem => item.Currency)</p>
                            </div>
                            <div class="col-sm-1 d-flex justify-content-between">
                                <button type="button" class="btn button-colors" data-bs-toggle="modal" href="#model_@item.PaymentId" style="max-height: 50px;">
                                    Payout
                                </button>
                                <div class="modal fade" id="model_@item.PaymentId" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h4 class="modal-title" id="staticBackdropLabel">Payment</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">
                                        <h5>Details</h5>
                                        <p>Sender: @Html.DisplayFor(modelItem => item.ProjectManager.UserName)</p>
                                        <p>Receiver: You</p>
                                        <p>State: Payout Ready</p>
                                        <p>Title: @Html.DisplayFor(modelItem => item.Title)</p>
                                        <p>Description: @Html.DisplayFor(modelItem => item.Description)</p>
                                        <hr>
                                        <h5>Summary</h5>
                                        <p>Contract Value: @Html.DisplayFor(modelItem => item.SubTotal) @Html.DisplayFor(modelItem => item.Currency)</p>
                                      </div>                              
                                      <div class="modal-footer d-flex justify-content-center">
                                        <button type="button" class="btn button-colors">
                                            <a class="" asp-action = "RelatedContractingProcess" asp-controller="UserPayments" asp-route-paymentId="@item.PaymentId" style="text-decoration: none; color: inherit;">Payout</a> 
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>                                       
                    </div>
                    
                </div>
            }
        </div>
    </div>
</div>