﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>

<div class="card mt-2">
    <div class="card-body">
        <div class="d-flex flex-row">
            <h4 class="card-title">Freelancer Payout</h4>
            <div class="ps-2">
                <i class="fa fa-info-circle tasklancer-color align-self-center" onclick='showUserManual("freelancer-payout")' aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="right" title="Open User Manual"></i>
            </div>
        </div>

        @if(ViewBag.State == "Pending_Payout"){
            @if(ViewBag.Role == "freelancer"){
                @if(ViewBag.PaypalEmail == null || ViewBag.PaypalEmail == "")
                {
                    <div class="d-flex flex-column">
                    <div class="mt-1">You can now receive your payment for completing this task.</div>
                    <div class="mt-1"><b>Pending Amount: </b>@ViewBag.Amount €</div>  

                    <div class="alert alert-warning mt-1">

                        <div><svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>You don't currently have a PayPal account associated with your TaskLancer account for payouts.</div>
                        <div class="text-secondary mt-1" style="font-size: smaller;">You can change your payout target in <a href="/Identity/Account/Manage">account settings.</a></div>
                    </div>
                    <button class="btn button-colors mt-1" disabled>Receive Payout</button>
                    </div>
                }else
                {
                    <div class="d-flex flex-column">
                    <div class="mt-1">You can now receive your payment for completing this task.</div>
                    <div class="mt-1"><b>Pending Amount: </b>@ViewBag.Amount €</div>  

                    <div class="alert alert-info mt-1">
                            
                        <div> <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>Funds will be sent to PayPal account with email: <div class="badge bg-secondary">@ViewBag.PaypalEmail</div></div>

                        
                        <div class="text-secondary mt-1" style="font-size: smaller;">You can change your payout target in <a href="/Identity/Account/Manage">account settings.</a></div>
                    </div>

                    <a class="btn button-colors mt-1" href="/Payment/@ViewBag.PaymentId/RecievePayout?redirectUrl=@ViewBag.RedirectURL">Receive Payout</a>
                    </div>
                }
                
            }

            @if(ViewBag.Role == "manager"){
                <div class="d-flex flex-column">
                    <p>The freelancer hasn't accepted the payout yet.</p>
                </div>
            }

        }

        
        @if(ViewBag.State == "Paid_Out"){
            @if(ViewBag.Role == "freelancer"){
                <div class="d-flex flex-column">
                    <p>You have already received the payout for completing this task.</p>
                    <div class="mt-1"><b>Received Amount: </b>@ViewBag.Amount €</div>  
                </div>
            }

            @if(ViewBag.Role == "manager"){
                <div class="d-flex flex-column">
                    <p>The freelancer has received the payout.</p>
                </div>
            }

        }

    </div>

</div>