﻿@using TaskLancer.Models.Payments.DAL
@model IEnumerable<Payment>

@{
    ViewData["Title"] = "Unpaid Payments";
}

<div>
    <h4 class="pt-3">Pending Payments</h4>
    <hr />

    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-controller="UserPayments" asp-action="UnpaidPayments">Pending Payments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="UserPayments" asp-action="PaidPayments">Paid Payments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="UserPayments" asp-action="Payouts">Recieved Payouts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="UserPayments" asp-action="RefundedPayments">Refunded</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="UserPayments" asp-action="CanceledPayments">Canceled</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            @foreach(var item in Model)
            {
                <div class="card overflow-auto my-2 card-style">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-sm-11">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                                <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                                <p class="card-text">Total Value: @Html.DisplayFor(modelItem => item.Total) @Html.DisplayFor(modelItem => item.Currency)</p>
                            </div>
                            <div class="col-sm-1 d-flex justify-content-between">
                                <button type="button" class="btn button-colors" data-bs-toggle="modal" href="#model_@item.PaymentId" style="max-height: 50px;">
                                    Pay
                                </button>
                                <div class="modal fade" id="model_@item.PaymentId" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h4 class="modal-title" id="staticBackdropLabel">Payment</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">
                                        <h5>Details</h5>
                                        <p>Sender: You</p>
                                        <p>Receiver: @Html.DisplayFor(modelItem => item.FreeLancer.UserName)</p>
                                        <p>Limit Date: @Html.DisplayFor(modelItem => item.LimitDate)</p>
                                        <p>State: @item.State.ToString().Replace("_", " ")</p>
                                        <hr>
                                        <h5>Summary</h5>
                                        <p>Contract Value: @Html.DisplayFor(modelItem => item.SubTotal) @Html.DisplayFor(modelItem => item.Currency)</p>
                                        <p>TaskLancer Fee: @Html.DisplayFor(modelItem => item.ServiceFee) @Html.DisplayFor(modelItem => item.Currency)</p>
                                        <h6>Total: @Html.DisplayFor(modelItem => item.Total) @Html.DisplayFor(modelItem => item.Currency)</h6>
                                      </div>                              
                                      <div class="modal-footer d-flex justify-content-center">
                                        <button type="button" class="btn button-colors">
                                            <a class=""  asp-action = "RelatedContractingProcess" asp-controller="UserPayments" asp-route-paymentId="@item.PaymentId" style="text-decoration: none; color: inherit;">Pay</a> 
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>                                       
                    </div>
                    
                </div>
            }
        </div>
    </div>
</div>