﻿@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot my password";
    Layout = "_LayoutLanding"; 
}


<div class="row justify-content-evenly">
    <partial name="_LandingPartial" />
    <div class="card shadow-sm col-lg-4 p-4 auth-card">
        <div class="d-flex justify-content-between">
            <h1 >@ViewData["Title"]</h1>
            <button type="button" class="btn p-0 h-50 btn-sm btn-primary button-colors">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                </a>
            </button>
        </div>
        <p class="m-auto pt-5">Please enter your email address and we will send you an email with a link to recover your password.</p>
        <section>
            <form class="pt5" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h5>Email</h5>
                <div>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-center py-5">
                    <button type="submit" class="w-50 btn btn-lg btn-primary button-colors">Submit</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
