﻿@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "_LayoutLanding"; 
}

<div class="row justify-content-evenly">
    <partial name="_LandingPartial" />
    <div class="card shadow-sm col-lg-4 p-4 auth-card">
        <h1 class="d-flex justify-content-center">@ViewData["Title"]</h1>
        <section>
            <p class="m-auto w-auto pt-5">Please check your email to reset your password.</p>
            <div class="d-flex justify-content-center py-5">
                <button id="login-submit" type="submit" class="w-50 btn btn-lg btn-primary button-colors"><a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Back to Login</a></button>
            </div>
        </section>
    </div>
</div>
