﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLanding"; 
}

<div class="row justify-content-evenly">
    <partial name="_LandingPartial" />
    <div class="card shadow-sm col-lg-4 p-4 auth-card">
        <h1 class="d-flex justify-content-center">@ViewData["Title"]</h1>
        <section>
            <form class="pt-5" id="account" method="post">            
                <h5>Email or Username</h5>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="pb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />                 
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <h5>Password</h5>
                <div>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="pb-5">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <p class="py-0 my-1">
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot my password</a>
                    </p>
                    <p class="py-0 my-1">
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create Account</a>
                    </p>
                    <p class="py-0 my-1">
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
                <div class="d-flex justify-content-center py-5">
                    <button id="login-submit" type="submit" class="w-50 btn btn-lg btn-primary button-colors">Log in</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
