﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_LayoutLanding";
}


<div class="row justify-content-evenly">
    <partial name="_LandingPartial" />
    <div class="card shadow-sm col-lg-4 p-4 auth-card">
        <div class="d-flex justify-content-between">
            <h1 >@ViewData["Title"]</h1>
            <button type="button" class="btn p-0 btn-sm btn-primary button-colors">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login" script="color: inherit;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                </a>
            </button>
        </div>
        
        <section>
            <form class="pt-5 " id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h5>First Name</h5>
                <div class="pb-3">
                    <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <h5>Last Name</h5>
                <div class="pb-3">
                    <input asp-for="Input.LastName" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <h5>Username</h5>
                <div class="pb-3">
                    <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <h5>Email</h5>
                <div class="pb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="d-flex flex-row">
                    <h5>Password</h5>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle tasklancer-color align-self-center" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#pw_modal" data-bs-placement="right" title="Password requirements">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                    <i class="fa fa-info-circle tasklancer-color align-self-center" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#pw_modal" data-bs-placement="right" title="Password requirements"></i>
                </div>
                <div class="pb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <h5>Confirm Password</h5>
                <div class="pb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-center py-5">
                    <button id="registerSubmit" type="submit" class="w-50 btn btn-lg btn-primary button-colors">Register</button>
                </div>
            </form>
        </section>
    </div>
</div>

<div class="modal fade" id="pw_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> 
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Password requirements</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>The Password must be at least 6 and at max 100 characters long.</li>
                    <li>Passwords must have at least one non alphanumeric character.</li>
                    <li>Passwords must have at least one digit ('0'-'9').</li>
                    <li>Passwords must have at least one uppercase ('A'-'Z').</li>     
                </ul>
          </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
