﻿@model TaskLancer.Models.Contracting.BLL.CounterProposalViewModel

@{
    ViewData["Title"] = "CounterPropose";
}

<div id="details" class="card mt-2">
    <div class="card-body ">
        <h5 class="card-title">My Counter-Proposal</h5>
        <div class="d-flex justify-content-between">
            <div class = "fw-bold">
                Delivery Date:
            </div>
            <div>
                @Html.DisplayFor(model => model.DeliveryDate)
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class = "fw-bold">
                Amount:
            </div>
            <div>
                @Html.DisplayFor(model => model.Amount) €
            </div>
        </div>
        <div class="d-flex flex-column justify-content-between">
            <div class = "fw-bold">
                Self Intro:
            </div>
            <div class="bg-light border rounded p-1" >
                @Html.DisplayFor(model => model.SelfIntro)
            </div>
        </div>
        <div class="d-flex justify-content-between mt-2">
             <a class="btn button-colors" asp-action="DeclineCounterProposal" asp-route-counterProposalId="@Model.CounterProposalId"
                       asp-route-contractingProcessId="@Model.ContractingProcessId" style="text-decoration: none; color: inherit;">Cancel</a>
            <a id="edit_btn" class="btn button-colors">Edit</a>
        </div>
    </div>   
</div>

<div style="display: none" id="edit_form" class="card">
    <div class="card-body">
    <h5 class="card-title">Edit Counter-Proposal</h5>
    <form asp-action="EditCounterProposal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>   
        <div class="form-group">
            <input type="hidden" asp-for="ContractingProcessId" class="form-control"/>
        </div>  
        <div class="form-group">
            <input type="hidden" asp-for="CounterProposalId" class="form-control"/>
        </div>  
        <div class="form-group row my-1">
            <div class="col-3">
                <label asp-for="DeliveryDate" class="control-label">Delivery Date:</label>
            </div>
            <div class="col-9">
                <input required asp-for="DeliveryDate" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" class="form-control" onchange="validateDate()"/>
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>  
            <div id="date-error" style="display: none;" class="alert-danger p-2 w-100 mt-2"></div>
        </div>
        <div class="form-group row my-1">
            <div class="col-3 d-flex align-items-center">
                <label asp-for="Amount" class="control-label">Amount:</label>
            </div>
            <div class="col-9">
                <div class="input-group">
                  <input asp-for="Amount" pattern="[0-9]+([.][0-9]+)?" step="0.01" title="This should be a number with up to 2 decimal places. Use dot instead of comma."
                    class="form-control" aria-label="Dollar amount (with dot and two decimal places)" value="@Model.Amount"/>@*type="number" min="0.00" step="0.01"*@ 
                  <span asp-validation-for="Amount" class="text-danger"></span>   
                  <span class="input-group-text">€</span>
                </div>              
            </div>
        </div>
        <div class="form-group my-1">
            <label asp-for="SelfIntro" class="control-label"></label>
            <textarea required asp-for="SelfIntro" class="form-control" value="@Model.SelfIntro"></textarea>
            <span asp-validation-for="SelfIntro" class="text-danger"></span>
        </div>
        <div class="form-group mt-2 d-flex justify-content-between mt-2">
            <a id="cancel_btn" class="btn button-colors" style="text-decoration: none; color: inherit;">Cancel</a>  
            <input id="edit_counter_proposal_btn" type="submit" value="Save" class="btn button-colors"/>
        </div>
    </form>
    </div>
</div>



<script type="text/javascript">
    $(document).on('click', '#edit_btn', function(){
        $('#details').hide();
        $('#edit_form').show();
    });

    $(document).on('click', '#cancel_btn', function(){
        $('#edit_form').hide();
        $('#details').show();
    
    });
    
    function validateDate(){
        var deliveryDate = new Date($("#DeliveryDate").val());

        console.dir(deliveryDate);

        var dateError = $("#date-error");

        if(deliveryDate < Date.now()){
            dateError.text("This date can't be in the past.");
            dateError.show();
            $("#edit_counter_proposal_btn").prop("disabled", true);
            return false; 
        } else {
            dateError.hide();
            $("#edit_counter_proposal_btn").prop("disabled", false);
            return true;
        }
    }
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


