﻿@model TaskLancer.Models.Contracting.BLL.DeliveryViewModel

@{
    ViewData["Title"] = "DeliveryDetailsPartial";
}

@{
    <div class="card mt-2">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-row">
                    <h4 class="card-title">Delivery</h4>
                    <div class="ps-2">
                        <i class="fa fa-info-circle tasklancer-color align-self-center" onclick='showUserManual("accepting-delivery")' aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="right" title="Open User Manual"></i>
                    </div>
                </div>
                
                @if (Model != null)
                {
                    <div>
                        <div style="display: none" id="open_delivery_details_btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                            </svg>
                        </div>
                        <div class="" id="close_delivery_details_btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
                            </svg>
                        </div>
                    </div>
                }
            </div>
            <div id="min_delivery_details">
                @if (Model == null)
                {
                    <p>Waiting for freelancer to deliver final product</p>
                }
            </div>
            <div id="max_delivery_details">
                @if (Model != null)
                {
                    <div class="d-flex flex-column justify-content-between">
                        <div class="fw-bold">Final Files: </div>
                        @if (!(bool)ViewData["IsManager"] || Model.ApprovalState == TaskLancer.Models.Contracting.DAL.DeliveryApprovalState.Approved)
                        {
                            <div>@Html.Partial("/Views/FileTransfer/DownloadPartial.cshtml", Model.FinalFiles!)</div>
                        }
                        else
                        {
                            <div>[Accept delivery to unlock]</div>
                        }
                    </div>
                    <div class="d-flex flex-column justify-content-between">
                        <div class="fw-bold">Sample Files: </div>
                        <div>@Html.Partial("/Views/FileTransfer/DownloadPartial.cshtml", Model.SampleFiles!)</div>
                    </div>
                    <div class="d-flex flex-column justify-content-between">
                        <div class="fw-bold">Final Comment: </div>
                        <div>@Model.FinalComment</div>
                    </div>
                    @if ((bool)ViewData["IsManager"] && Model.ApprovalState != TaskLancer.Models.Contracting.DAL.DeliveryApprovalState.Approved)
                    {
                        <div class="d-flex justify-content-between">
                            <a asp-action="DeclineDelivery" asp-route-contractingProcessId="@Model.ContractingProcessId" asp-route-deliveryId="@Model.DeliveryId" id="decline_btn" class="btn button-colors" disabled style="text-decoration: none; color: inherit;">Decline</a>
                            <a asp-action="AcceptDelivery" asp-route-contractingProcessId="@Model.ContractingProcessId" asp-route-deliveryId="@Model.DeliveryId" id="decline_btn" class="btn button-colors" disabled style="text-decoration: none; color: inherit;">Accept</a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
}


<script type="text/javascript">
    $(document).on('click', '#open_delivery_details_btn', function(){
        $('#max_delivery_details').show();
        $('#min_delivery_details').hide();
        $('#open_delivery_details_btn').hide()
        $('#close_delivery_details_btn').show();
    });

    $(document).on('click', '#close_delivery_details_btn', function(){
        $('#max_delivery_details').hide();
        $('#min_delivery_details').show();
        $('#open_delivery_details_btn').show();
        $('#close_delivery_details_btn').hide();

    });

</script>
