﻿@using TaskLancer.Areas.Identity.Data
@using TaskLancer.Models.Contracting.BLL
@using TaskLancer.Models.Contracting.DAL
@using TaskLancer.Views.FileTransfer
@model TaskLancer.Models.Contracting.BLL.ContractingProcessViewModel;

<div class="card mt-3">
    <div class="card-header fw-bold d-flex flex-row">
        Contracting Process Details

        <div class="ps-2">
            <i class="fa fa-info-circle tasklancer-color align-self-center" onclick='showUserManual("contracting-process")' aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="right" title="Open User Manual"></i>
        </div>
    </div>
    <div class="card-body">
        @if (ViewData["message"] != null)
        {
            <div class="alert alert-info" role="alert">
                ViewData["message"]
            </div>
        }
        <div class="row">
            <div class="col-12 col-xl-8 mb-2">
                <div class="row">
                    <h3>@Model.TaskTitle</h3>
                </div>
                <div class="row">
                    <div class="col-3 fw-bold">Manager: </div>
                    <div class="col-9 mb-1"><a asp-controller="Profile" asp-action="Details" asp-route-username="@Model.ManagerUsername">@(Model.ManagerFirstName + " " + Model.ManagerLastName)</a></div>
                </div>
                <div class="row">
                    <div class="col-3 fw-bold">Description: </div>
                    <div class="col-9 mb-1 flex-shrink-1">@Model.TaskDescription</div>

                </div>
                <div class="row">
                    <div class="col-3 fw-bold">Start Date: </div>
                    <div class="col-9 mb-1">@Model.TaskStartDate</div>
                </div>
                <div class="row">
                    <div class="col-3 fw-bold">End Date: </div>
                    <div class="col-9 mb-1">@Model.TaskEndDate</div>
                </div>
                <div class="row">
                    <div class="col-3 fw-bold">Skill Tags: </div>
                    <div class="col-9 mb-1">
                        <div class="w-100 border rounded bg-light p-1">

                            @if (Model.TaskSkillTags != null)
                            {
                                @foreach (var tag in Model.TaskSkillTags)
                                {
                                    <div class="badge rounded-pill bg-secondary" style="background-color: #008085 !important;">@tag</div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="row mt-2"><hr /></div>
                <div class="row">
                    <h4>Manager Proposal</h4>
                </div>
                <div class="row">
                    <div class="col-3 fw-bold">Description: </div>
                    <div class="col-9 mb-1 flex-shrink-1">@Model.ProposalDescription</div>

                </div>
                <div class="row">
                    <div class="col-3 fw-bold">Accepting Counter-Proposals Until: </div>
                    <div class="col-9 mb-1">@Model.CounterProposalsEndDate</div>
                </div>
                <div class="row">
                    <div class="col-3 fw-bold">Delivery date: </div>
                    <div class="col-9 mb-1">@Model.ProposalDeliveryDate</div>
                </div>
                <div class="row">
                    <div class="col-3 fw-bold">Amount paying: </div>
                    <div class="col-9 mb-1">@Model.ProposalAmount €</div>
                </div>
                <div class="row">
                    <div class="col-3 fw-bold">Reference Files: </div>
                    <div class="col-9 mb-1">
                        @Html.Partial("/Views/FileTransfer/DownloadPartial.cshtml", Model.ReferenceFiles)
                    </div>
                </div>

                @if (Model.AcceptedCounterProposal != null)
                {
                    <div classs="row"><hr /></div>
                    <div class="row">
                        <h4>Accepted Counter-Proposal</h4>
                    </div>
                    <div class="row">
                        <div class="col-3 fw-bold">By: </div>
                        <div class="col-9 mb-1"><a asp-controller="Profile" asp-action="Details" asp-route-username="@Model.AcceptedCounterProposal.FreelancerUsername">@(Model.AcceptedCounterProposal.FreelancerFirstName + " " + Model.AcceptedCounterProposal.FreelancerSecondName)</a></div>
                    </div>
                    <div class="row">
                        <div class="col-3 fw-bold">Delivery date: </div>
                        <div class="col-9 mb-1">@Model.AcceptedCounterProposal.DeliveryDate</div>
                    </div>
                    <div class="row">
                        <div class="col-3 fw-bold">Amount receiving: </div>
                        <div class="col-9 mb-1">@Model.AcceptedCounterProposal.Amount €</div>
                    </div>
                }



            </div>
            <div class="col-12 col-xl-4">
                <div class="card h-100">
                    <div class="card-header d-flex flex-row">
                        <h4>Process</h4>
                        <div class="ps-2">
                            <i class="fa fa-info-circle tasklancer-color align-self-center" onclick='showUserManual("process-phases")' aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="right" title="Open User Manual"></i>
                        </div>
                    </div>
                    <div class="card-body" style="overflow: auto;">
                        @{
                            var user = (TaskLancerUser)ViewData["currentUser"];

                            <div class="d-flex">
                                @if (user.Id != Model.ManagerId && Model.AcceptedCounterProposal != null && Model.AcceptedCounterProposal.FreelancerId != user.Id)
                                {
                                    <p>This task has already been assigned to another freelancer</p>
                                }
                                else
                                {
                                    <div class="fw-bold me-2">State: </div>
                                    <div>@Model.State.ToString().Replace("_", " ")</div>
                                    <div class="ps-2">
                                        <i class="fa fa-info-circle tasklancer-color align-self-center" onclick='showUserManual("@Model.State.ToString().ToLower().Replace("_", "-")")' aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="right" title="Open User Manual"></i>
                                    </div>

                                }
                            </div>




                            if (Model.State != TaskLancer.Models.Contracting.DAL.ContractingProcessState.Canceled)
                            {
                                if (Model.ManagerId == user.Id)
                                {
                                    if (Model.State == TaskLancer.Models.Contracting.DAL.ContractingProcessState.Published)
                                    {
                                        <div class="card mt-2">
                                            <div class="card-body">
                                                <div class="d-flex flex-row">
                                                    <h4 class="card-title">Accept Counter-Proposal</h4>
                                                    <div class="ps-2">
                                                        <i class="fa fa-info-circle tasklancer-color align-self-center" onclick='showUserManual("accepting-counter-proposal")' aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="right" title="Open User Manual"></i>
                                                    </div>
                                                </div>
                                                <p>Pending Counter-Proposals:</p>
                                                @Html.Partial("ListOfCounterProposalsPartial", Model.CouterProposalsViewModel)
                                            </div>
                                            
                                        </div>
                                    }

                                    if (Model.State != TaskLancer.Models.Contracting.DAL.ContractingProcessState.Published)
                                    {
                                        <div class="mt-2">
                                            @Html.Partial("PaymentInfoPartial", Model.PaymentViewModel)
                                        </div>
                                    }

                                    if (Model.State != TaskLancer.Models.Contracting.DAL.ContractingProcessState.Published &&
                                    Model.State != TaskLancer.Models.Contracting.DAL.ContractingProcessState.Pending_Payment)
                                    {
                                        <div class="mt-2">
                                            @Html.Partial("DeliveryDetailsPartial", Model.DeliveryViewModel, new ViewDataDictionary(ViewData){{"IsManager", true}})  @*ALTERAR*@
                                        </div>
                                    }
                                }
                                else
                                {
                                    if (Model.State == TaskLancer.Models.Contracting.DAL.ContractingProcessState.Published)
                                    {
                                        <div class="">
                                            @{
                                                var counterProposal = Model.CouterProposalsViewModel.FirstOrDefault(c => c.FreelancerId == user.Id);
                                                if (counterProposal != null)
                                                {

                                                    await Html.RenderPartialAsync("CounterProposeDetailsPartial", counterProposal);
                                                }
                                                else
                                                {
                                                    <div class="d-flex mt-1">
                                                        <div class="fw-bold me-2">Limit date: </div>
                                                        <div class="">@Model.CounterProposalsEndDate</div>
                                                    </div>

                                                    await Html.RenderPartialAsync("SubmitCounterProposePartial", new CounterProposalViewModel() { DeliveryDate = Model.ProposalDeliveryDate }, new ViewDataDictionary(ViewData) { { "ContractingProcessId", Model.ContractingProcessId } });
                                                }
                                            }
                                        </div>
                                    }
                                    if (Model.State != TaskLancer.Models.Contracting.DAL.ContractingProcessState.Published &&
                                    Model.State != TaskLancer.Models.Contracting.DAL.ContractingProcessState.Pending_Payment &&
                                    Model.DeliveryViewModel == null)
                                    {
                                        <div class=" mt-2">
                                            @await Html.PartialAsync("SubmitDeliver", new DeliveryViewModel(){
                            ContractingProcessId = Model.ContractingProcessId,
                            LimitDate = Model.AcceptedCounterProposal.DeliveryDate,
                            UploadFinalFilePartialViewModel = new UploadPartialViewModel() {AccessPolicy = "private"},
                            UploadSampleFilePartialViewModel = new UploadPartialViewModel() {AccessPolicy = "private"}})  @*ALTERAR*@
                                        </div>
                                    }

                                    if ((Model.State == ContractingProcessState.Ordered || Model.State == ContractingProcessState.Completed) && Model.DeliveryViewModel != null)
                                    {
                                        @Html.Partial("DeliveryDetailsPartial", Model.DeliveryViewModel, new ViewDataDictionary(ViewData){{"IsManager", false}})
                                    }


                                }
                            }

                            if (Model.State == ContractingProcessState.Completed)
                            {
                                <div id="payout_partial"></div>
                                if (Model.ReviewSubmitedViewModel.State == TaskLancer.Models.Rating.DAL.ReviewState.Pending)
                                {
                                    <div id="submit_review_partial"></div>
                                }
                                else
                                {
                                    <div id="submited_review_details_partial"></div>
                                }

                                if (Model.ReviewReceivedViewModel.State == TaskLancer.Models.Rating.DAL.ReviewState.Submitted)
                                {
                                    <div id="received_review_details_partial"></div>
                                }

                            }




                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var payout_partial = $("#payout_partial");

        if(payout_partial.length > 0){
            $.ajax({
                type: "GET",
                url: `${location.origin}/Payment/@Model.PaymentViewModel?.PaymentId/PayoutPartial?redirectUrl=${location}`,
                success: function (response) {
                    payout_partial.html(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        var submit_review_partial = $("#submit_review_partial");

        if(submit_review_partial.length > 0){
            $.ajax({
                type: "GET",
                url: `${location.origin}/Contracting/@Model.ContractingProcessId/SubmitReviewPartial?redirectUrl=${location}`,
                success: function (response) {
                    submit_review_partial.html(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        var submited_review_details_partial = $("#submited_review_details_partial");
        if(submited_review_details_partial.length > 0){
            $.ajax({
                type: "GET",
                url: `${location.origin}/ReviewDetailsPartial/@Model.ReviewSubmitedViewModel?.Id`,
                success: function (response) {
                    submited_review_details_partial.html(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }


        var received_review_details_partial = $("#received_review_details_partial");

        if(received_review_details_partial.length > 0){
            $.ajax({
                type: "GET",
                url: `${location.origin}/ReviewDetailsPartial/@Model.ReviewReceivedViewModel?.Id`,
                success: function (response) {
                    received_review_details_partial.html(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
    });
</script>