﻿@using TaskLancer.Models.Contracting.BLL
@using TaskLancer.Models.Contracting.DAL
@model IEnumerable<TaskLancer.Models.Contracting.BLL.CounterProposalViewModel>



<div class="d-flex flex-column border rounded bg-light" style="min-height: 5em; max-height: 20em; overflow: auto;">
    @{
        if (Model == null)
        {
            <p>No counter-proposal was sent</p>
        }
        else
        {
            foreach (CounterProposalViewModel cp in Model)
            {
                <div class="border rounded d-flex align-items-center justify-content-between" style="background: white;">
                    <div class="d-flex">
                        <a class="ms-1 me-2" data-bs-toggle="modal" href="#cp_@cp.CounterProposalId">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                            </svg>
                        </a>

                        <div class="">
                            @(cp.FreelancerFirstName + " " + cp.FreelancerSecondName)
                        </div>

                    </div>
                    <div class="d-flex">
                        <a class="mx-1" asp-action="AcceptCounterProposal" asp-route-counterProposalId="@cp.CounterProposalId" asp-route-contractingProcessId="@cp.ContractingProcessId" style="text-decoration: none; color: inherit;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                            </svg>
                        </a>
                        <a class="mx-1" asp-action="DeclineCounterProposal" asp-route-counterProposalId="@cp.CounterProposalId" asp-route-contractingProcessId="@cp.ContractingProcessId" style="text-decoration: none; color: inherit;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                        </a>

                    </div>
                </div>

                <div class="modal fade" id="cp_@cp.CounterProposalId" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="staticBackdropLabel">Counter-Proposal Details</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col fw-bold">Candidate Name:</div>
                                    <div class="col"><a asp-controller="Profile" asp-action="Details" asp-route-username="@cp.FreelancerUsername">@(cp.FreelancerFirstName + " " + cp.FreelancerSecondName)</a></div>
                                </div>
                                <div class="row">
                                    <div class="col fw-bold">Payment Amount:</div>
                                    <div class="col">@cp.Amount €</div>
                                </div>
                                <div class="row">
                                    <div class="col fw-bold">Delivery Date:</div>
                                    <div class="col">@cp.DeliveryDate</div>
                                </div>
                                <div class="row">
                                    <div class="col fw-bold">Self Introduction:</div>
                                </div>
                                <div class="row">
                                    <div class="col">@cp.SelfIntro</div>
                                </div>
                            </div>
                            <div class="modal-footer d-flex justify-content-around">
                                <a class="btn button-colors" asp-action="DeclineCounterProposal" asp-route-counterProposalId="@cp.CounterProposalId"
                       asp-route-contractingProcessId="@cp.ContractingProcessId" style="text-decoration: none; color: inherit;">Decline</a>



                                <a class="btn button-colors" asp-action="AcceptCounterProposal" asp-route-counterProposalId="@cp.CounterProposalId"
                       asp-route-contractingProcessId="@cp.ContractingProcessId" style="text-decoration: none; color: inherit;">Accept</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }

</div>