﻿@using TaskLancer.Models.Payments.DAL
@model TaskLancer.Models.Contracting.BLL.ContractingPaymentViewModel

@{
    ViewData["Title"] = "PaymentInfoPartial";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h4 class="card-title">Payment</h4>
            <div>
                <div id="open_details_btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                    </svg>
                </div>
                <div style="display: none" class="" id="cancel_btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                    </svg>
                </div>
            </div>
        </div>
        <div id="min_details">
            <div class="d-flex justify-content-between">
                <div class="fw-bold">Limit Date:</div>
                <div>@Model.LimitDate</div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="fw-bold">State:</div>
                <div >@Model.State.ToString().Replace("_", " ")</div>
            </div>
            <div class="d-flex justify-content-between">
                <h5 class="fw-bold">Total:</h5>
                <h5>@Model.Total €</h5>
            </div>  
        </div>
        <div id="max_details" style="display: none">
            <div class="d-flex justify-content-between">
                <div class="fw-bold">Limit Date:</div>
                <div>@Model.LimitDate</div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="fw-bold">State:</div>
                <div >@Model.State.ToString().Replace("_", " ")</div>
            </div>
            <hr />
            <h4>Summary</h4>
            <div class="d-flex justify-content-between">
                <div class="fw-bold">Amount:</div>
                <div>@Model.SubTotal €</div>
            </div>  
            <div class="d-flex justify-content-between">
                <div class="fw-bold">TaskLancer Fee:</div>
                <div>@Model.ServiceFee €</div>
            </div>
            @*            <div class="d-flex justify-content-between">
                <div class="fw-bold">Paypal Fee:</div>
                <div>@(Model.Total * 0.349 + 0.39)</div>
                </div>*@
            <div class="d-flex justify-content-between">
                <h5 class="fw-bold">Total:</h5>
                <h5>@Model.Total €</h5>
            </div>
            @if (Model.State == PaymentState.Pending_Payment)
            {
                <hr />
                <div>
                    <div id="paypal-button-container"></div>

                    <script src="https://www.paypal.com/sdk/js?client-id=AVi5_w2WXankIYP_w835RuK81bAvdIoNnHqXsrl2VEbcnTm6uEBITHF8fNj5s4lM4LXxXq1v7Sb250NK&currency=EUR"></script>

                    <script type="text/javascript">
                        paypal.Buttons({
                            // Order is created on the server and the order id is returned
                            createOrder: (data, actions) => {
                                return fetch(`/Payment/@Model.PaymentId/CreateOrder?redirectRoute=${window.location.pathname}`, {
                                method: "post",
                                // use the "body" param to optionally pass additional order information 
                                // like product ids or amount
                                })
                                .then((response) => response.json())
                                .then((order) => order.id);
                            },
                            // Finalize the transaction on the server after payer approval
                            onApprove: (data, actions) => {
                                return fetch(`/Payment/@Model.PaymentId/Capture/${data.orderID}`, {
                                method: "post",
                                })
                                .then((response) => response.json())
                                .then((orderData) => {
                                // Successful capture! For dev/demo purposes:
                                //console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                                //const transaction = orderData.purchase_units[0].payments.captures[0];
                                //alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);

                                // When ready to go live, remove the alert and show a success message within this page. For example:
                                // const element = document.getElementById('paypal-button-container');
                                // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                                // Or go to another URL:  actions.redirect('thank_you.html');
                                window.location.reload();
                                });
                            }
                            }).render('#paypal-button-container');

                    </script>


                @*<a class="btn button-colors" asp-action="AprovePayment" asp-route-paymentId="@Model.PaymentId" style="text-decoration: none; color: inherit;">Pay</a>*@
                </div>    
            }
        </div>   
    </div>
</div>

<script>
    $(document).on('click', '#open_details_btn', function(){
        $('#max_details').show();
        $('#min_details').hide();
        $('#open_details_btn').hide()
        $('#cancel_btn').show();
    });

    $(document).on('click', '#cancel_btn', function(){
        $('#max_details').hide();
        $('#min_details').show();
        $('#open_details_btn').show();
        $('#cancel_btn').hide();

    });

</script>