﻿@model TaskLancer.Models.Contracting.BLL.ProposalViewModel

@{
    ViewData["Title"] = "Propose";
}

<div class="card mt-3">
    <div class="card-body">
        <div class="d-flex flex-row">
            <h4 class="card-title">Publish Task</h4>
            <div class="ps-2">
                <i class="fa fa-info-circle tasklancer-color align-self-center" onclick='showUserManual("contracting-process")' aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="right" title="Open User Manual"></i>
            </div>
        </div>



        <form asp-action="PublishTask">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class=" d-flex flex-column">
                <div class="form-group row">
                    <input hidden asp-for="TaskId" class="form-control" value="@ViewData["TaskId"]" />
                </div>
                <div class="form-group row my-2">
                    <div class="d-flex flex-row col-12 col-md-4">
                        <div class="pe-2">
                            <i class="fa fa-question-circle tasklancer-color align-self-center" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="right" title="Choose a limit date for accepting new counter-proposal submissions."></i>
                        </div>
                        <label asp-for="CounterProposalsEndDate" class="control-label">Final date of Counter-Proposals<span class="text-danger">*</span>:</label>
                    </div>
                    <div class="col-12 col-md-4">
                        <input required asp-for="CounterProposalsEndDate" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" onchange="validateCustom()" class="form-control" />
                        <span asp-validation-for="CounterProposalsEndDate" class="text-danger"></span>
                        <div id="date-error" style="display: none;" class="alert-danger p-2 w-100 mt-2"></div>

                    </div>
                </div>
                <div class="form-group row my-2">
                    <div class="d-flex flex-row col-12 col-md-4">
                        <div class="pe-2">
                            <i class="fa fa-question-circle tasklancer-color align-self-center" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="right" title="Propose a limit date for delivery. This date can be countered."></i>
                        </div>
                        <label asp-for="DeliveryDate" class="control-label">Delivery Date<span class="text-danger">*</span>:</label>
                        
                    </div>
                    <div class="col-12 col-md-4">
                        <input required asp-for="DeliveryDate" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" onchange="validateCustom()" class="form-control" />
                        <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row my-2">
                    <div class="d-flex flex-row col-12 col-md-4">
                        <div class="pe-2">
                            <i class="fa fa-question-circle tasklancer-color align-self-center" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="right" title="Propose a amount willing to pay. This value can be countered."></i>
                        </div>
                        <label asp-for="Amount" class="control-label">Amount paying<span class="text-danger">*</span>:</label>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="input-group">
                            <input required asp-for="Amount" pattern="[0-9]+([,][0-9]+)?" min="0.01" step="0.01" title="This should be a positive number with up to 2 decimal places. Use dot instead of comma"
                                   aria-label="Euro amount (with dot and two decimal places)">
                            <span class="input-group-text">€</span>
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row my-2">
                    <div class="d-flex flex-row col-12 col-md-4">
                        <div class="pe-2">
                            <i class="fa fa-question-circle tasklancer-color align-self-center" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="right" title="Describe in detail the task and a definition of done. Explain the attached reference files."></i>
                        </div>
                        <label asp-for="Description" class="control-label">Description<span class="text-danger">*</span>:</label>
                    </div>
                    <div class="col-12 col-md-8">
                        <textarea required asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row my-2">
                    <div class="d-flex flex-row col-12 col-md-4">
                        <div class="pe-2">
                            <i class="fa fa-question-circle tasklancer-color align-self-center" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="right" title="Attach reference files to this contracting process."></i>
                        </div>
                        <label class="control-label">Reference Files<span class="text-danger">*</span>:</label>
                    </div>
                    <div class="col-12 col-md-8">
                        @await Html.PartialAsync("/Views/FileTransfer/UploadPartial.cshtml", Model.UploadPartialViewModel)
                        <input asp-for="ReferenceFilesIdsJson" hidden />
                        <div id="reference-files-validation" class="alert alert-danger mt-2">You must upload at least one file.</div>
                    </div>
                </div>
                <div class="form-group d-flex justify-content-between mt-2">
                    <a id="cancel_btn" class="btn button-colors" style="text-decoration: none; color: inherit;">Cancel</a>
                    <input id="submit-button" type="submit" disabled value="Publish" class="btn button-colors" />
                </div>
            </div>

        </form>
    </div>

</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script type="text/javascript">

    $(document).ready(function () {
        validateCustom();
    })

    function validateFiles (){
        var value = $("#ReferenceFilesIdsJson").val();

        if(value && value != "[]"){
            $("#reference-files-validation").prop("hidden", true);
            return true
        } else {
             $("#reference-files-validation").prop("hidden", false);
            return false;

        }
    }

    function validateCustom(){
        var files = validateFiles();
        var dates = validateDates();

        if(files && dates){
           $("#submit-button").prop("disabled", false);
        } else {
            $("#submit-button").prop("disabled", true);
        }
    }

    function validateDates(){
        var deliveryDate = new Date($("#DeliveryDate").val());
        var counterProposalsEndDate = new Date($("#CounterProposalsEndDate").val());

        console.dir(deliveryDate);
        console.dir(counterProposalsEndDate);

        var dateError = $("#date-error");

        if(counterProposalsEndDate < Date.now()){
            dateError.text("Dates can't be in the past.");
            dateError.show();
            return false;

        } else if(counterProposalsEndDate > deliveryDate){
            dateError.text("Delivery date must be after counter-proposals end date.");
            dateError.show();
            return false;
        } else {
            dateError.hide();
            return true;
        }
    }

    $(document).on("fileAdded", (event, fileId, fileListJson) => {
        console.log("File Added:");
        console.log(fileId);
        console.log(fileListJson);
        this.updateReferenceIds(fileListJson);
    });

    $(document).on("fileRemoved", (event, fileId, fileListJson) => {
        console.log("File Removed:");
        console.log(fileId);
        console.log(fileListJson);
        this.updateReferenceIds(fileListJson);
    });

    function updateReferenceIds(newReferenceIds){
        $("#ReferenceFilesIdsJson").val(newReferenceIds);
        this.validateCustom();
    }

</script>
}
