﻿@model TaskLancer.Models.Contracting.BLL.DeliveryViewModel
@using TaskLancer.Views.FileTransfer;
@using TaskLancer.Models.FileTransfer.DAL;

@{
    ViewData["Title"] = "SubmitDelivery";
}

<div class="card mt-2">
    <div class="card-body">
        <div class="d-flex flex-row">
            <h4 class="card-title">Submit Delivery</h4>
            <div class="ps-2">
                <i class="fa fa-info-circle tasklancer-color align-self-center" onclick='showUserManual("submitting-delivery")' aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="right" title="Open User Manual"></i>
            </div>
        </div>
        <form asp-action="SubmitDeliver">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input hidden asp-for="ContractingProcessId" class="form-control" value="@Model.ContractingProcessId" />
            </div>
            <div class="form-group row my-2">
                <div class="col-12">
                    <label asp-for="LimitDate" class="control-label">Limit Date: @Model.LimitDate</label>
                </div>
            </div>
            <div class="form-group row my-2">
                <div class="col-12">
                    <label asp-for="FinalFileIdJson" class="control-label">Final Files<span class="text-danger">*</span>:</label>
                </div>
                <div class="col-12">
                    @await Html.PartialAsync("/Views/FileTransfer/UploadPartial.cshtml", new UploadPartialViewModel()
                    {
                    FieldName = "FinalFile",
                    AccessPolicy = "private",
                    PreviouslyUploadedFiles = new List<File> (),
                    UploadedFilesJson = "[]"
                    })
                    <input required asp-for="FinalFileIdJson" hidden />
                    <div id="final-files-validation" class="alert-danger mt-2 p-2 w-100">You must upload at least one final file.</div>
                </div>

            </div>
            <div class="form-group row my-2">
                <div class="col-12">
                    <label asp-for="SampleFileIdJson" class="control-label">Sample Files<span class="text-danger">*</span>:</label>
                </div>
                <div class="col-12">
                    @await Html.PartialAsync("/Views/FileTransfer/UploadPartial.cshtml", new UploadPartialViewModel()
                    {
                    FieldName = "SampleFile",
                    AccessPolicy = "private",
                    PreviouslyUploadedFiles = new List<File> (),
                    UploadedFilesJson = "[]"
                    })
                    <input required asp-for="SampleFileIdJson" hidden />
                    <div id="sample-files-validation" class="alert-danger mt-2 p-2 w-100">You must upload at least one sample file.</div>

                </div>

            </div>
            <div class="form-group row my-2">
                <div class="col-12">
                    <label asp-for="FinalComment" class="control-label">Final Comment<span class="text-danger">*</span>:</label>
                </div>
                <div class="col-12">
                    <textarea required asp-for="FinalComment" class="form-control"></textarea>
                    <span asp-validation-for="FinalComment" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group d-flex justify-content-end mt-2">
                @*                <a id="cancel_btn" class="btn button-colors" disabled style="text-decoration: none; color: inherit;">Request Cancel</a>
                *@                <input type="submit" id="submit-button" value="Submit" class="btn button-colors" />
            </div>
        </form>


    </div>

</div>

<script type="text/javascript">

    $(document).ready(() => {
        validateCustom();
    })

    function validateFinalFiles (){
        var finalFiles = $("#FinalFileIdJson").val();

        if(finalFiles && finalFiles != "[]"){
            $("#final-files-validation").prop("hidden", true);
            return true
        } else {
             $("#final-files-validation").prop("hidden", false);
            return false;
        }
    }

    function validateSampleFiles (){
        var sampleFiles = $("#SampleFileIdJson").val();

        if(sampleFiles && sampleFiles != "[]"){
            $("#sample-files-validation").prop("hidden", true);
            return true;
        } else {
             $("#sample-files-validation").prop("hidden", false);
            return false;
        }

    }

    function validateCustom(){
        var sampleFiles = validateSampleFiles();
        var finalFiles = validateFinalFiles();

        if(sampleFiles && finalFiles){
           $("#submit-button").prop("disabled", false);
        } else {
            $("#submit-button").prop("disabled", true);
        }
    }

    $(document).on("fileAdded", (event, fileId, fileListJson, fieldName) => {
        console.log("File Added:");
        console.log(fileId);
        console.log(fileListJson);
        console.log(fieldName);
        this.updateFilesIds(fieldName, fileListJson);
    });

    $(document).on("fileRemoved", (event, fileId, fileListJson, fieldName) => {
        console.log("File Removed:");
        console.log(fileId);
        console.log(fileListJson);
        console.log(fieldName);
        this.updateFilesIds(fieldName, fileListJson);
    });

    function updateFilesIds(fieldName, newReferenceIds){

        console.log(fieldName);

        console.log(newReferenceIds);

        if(fieldName == "FinalFile"){
            $("#FinalFileIdJson").val(newReferenceIds);
            $("#FinalFileIdJson").trigger('change');
        }


        if(fieldName == "SampleFile") {
            $("#SampleFileIdJson").val(newReferenceIds);
            $("#SampleFileIdJson").trigger('change');
        }

        validateCustom();
    }

</script>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}


}
