﻿@model TaskLancer.Models.Contracting.BLL.CounterProposalViewModel

@{
    ViewData["Title"] = "CounterPropose";
}

<div class="card mt-2">
    <div class="card-body">
        <div class="d-flex flex-row">
            <h4 class="card-title">Submit Counter-Proposal</h4>
            <div class="ps-2">
                <i class="fa fa-info-circle tasklancer-color align-self-center" onclick='showUserManual("submitting-counter-proposal")' aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="right" title="Open User Manual"></i>
            </div>
        </div>
        <form asp-action="SubmitCounterProposal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input hidden asp-for="ContractingProcessId" class="form-control" value="@ViewData["ContractingProcessId"]" />
            </div>
            <div class="form-group row my-1">
                <div class="col-3">
                    <label asp-for="DeliveryDate" class="control-label">Delivery Date:</label>
                </div>
                <div class="col-9">
                    <input required asp-for="DeliveryDate" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" class="form-control" onchange="validateDate()"/>
                    <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                </div>
                <div id="date-error" style="display: none;" class="alert-danger p-2 w-100 mt-2"></div>
            </div>
            <div class="form-group row my-1">
                <div class="col-3 d-flex align-items-center">
                    <label asp-for="Amount" class="control-label">Amount:</label>
                </div>
                <div class="col-9">
                    <div class="input-group">
                        <input required asp-for="Amount" pattern="[0-9]+([.][0-9]+)?" min="0.01" step="0.01" title="This should be a positive number with up to 2 decimal places. Use dot instead of comma"
                               aria-label="Euro amount (with dot and two decimal places)">
                        <span class="input-group-text">€</span>
                    </div>
                </div>
            </div>
            <div class="form-group my-1">
                <label asp-for="SelfIntro" class="control-label">Self Introduction:</label>
                <textarea required asp-for="SelfIntro" class="form-control"></textarea>
                <span asp-validation-for="SelfIntro" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 mb-2">
                <input id="submit_counter_proposal_btn" type="submit" value="Submit" disabled class="btn button-colors" />
            </div>
        </form>
    </div>

</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

<script type="text/javascript">
    
    function validateDate(){
        var deliveryDate = new Date($("#DeliveryDate").val());

        console.dir(deliveryDate);

        var dateError = $("#date-error");

        if(deliveryDate < Date.now()){
            dateError.text("This date can't be in the past.");
            dateError.show();
            $("#submit_counter_proposal_btn").prop("disabled", true);
            return false; 
        } else {
            dateError.hide();
            $("#submit_counter_proposal_btn").prop("disabled", false);
            return true;
        }
    }

</script>