﻿@model TaskLancer.Controllers.ProfileController.InputModel



<style>
    .description-border {
        border: 1px solid;
        border-color: #008085 !important;
    }

    input[type="checkbox"]:disabled {
        background-color: #008085;
        border-color: #008085;
    }

    input[type="checkbox"] {
        background-color: white;
        border-color: #008085;
    }
</style>

<div>
    <h4 class="pt-3">@Model.UserName's Profile</h4>
    <hr />

    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="Rating" asp-action="Index" asp-route-username="@Model.UserName">Rating & Reviews</a>
                </li>
                @*<li class="nav-item">
                    <a class="nav-link tasklancer-color" href="#">Tasks Completed</a>
                </li>*@
            </ul>
        </div>
        <div class="card-body">
            <dl class="row">
                <div class="d-flex col-sm-12">
                    <div class="row flex-fill">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FullName)
                </dt>
                <dd class="col-sm-10 p-0">
                    @Html.DisplayFor(model => model.FullName)
                </dd>

        </div>

        <div class="">
            @if (ViewBag.hasEdit)
                        {
                <a href="/Identity/Account/Manage"><i class="fa fa-pencil-square-o fa-lg align-self-center" aria-hidden="true"></i></a>
                        }
        </div>
    </div>

    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Biography)
    </dt>
    <dd class="col-sm-10 border border-primary overflow-auto richText-display-box">
                    @*@Html.DisplayFor(model => model.Description)*@
                    @Html.Raw(Model.Biography)
    </dd>

    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Curriculum)
    </dt>
    <dd class="col-sm-10 border border-primary overflow-auto richText-display-box">
                    @*@Html.DisplayFor(model => model.Description)*@
                    @Html.Raw(Model.Curriculum)
    </dd>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SelectedSkillTags)
    </dt>
    <dd class="col-sm-10 p-0">
        <select multiple disabled asp-for="SelectedSkillTags" asp-items="ViewBag.SkillTagsSelectList" style="width: 100%" id="tag-selector"></select>
    </dd>
    </dl>
</div>
</div>
</div>


@*    <a asp-action="Edit" asp-route-id="@Model?.ProjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>*@
</div>

<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/lib/select2-bootstrap-5-theme/select2-bootstrap-5-theme.min.css" rel="stylesheet" />
<link href="~/lib/rich-text/richtext.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .select2-search {
        height: 0 !important;
    }

    .select2-selection__rendered {
        padding-top: 0.25em !important;
    }

    /*#description-rich .innercontents  {
            width: 100% !important;*/
    }
</style>

@section Scripts {
<script src="~/lib/select2/js/select2.full.min.js"></script>
<script src="~/lib/rich-text/jquery.richtext.min.js"></script>
<script type="text/javascript">
    // $("#Input_Biography").richText({
    //       useSingleQuotes: true,
    // });
    //$("#Input_Biography").trigger("change");
    //$("#Input_Curriculum").richText({
    //       useSingleQuotes: true,
    // });
    //$("#Input_Curriculum").trigger("change");
     $("#tag-selector").select2({
         placeholder: "Select project categories",
         allowClear: true,
         theme: "bootstrap-5",
         dropdownParent: $("#tag-selector").parent(), // Required for dropdown styling
     });
</script>
}

