﻿@model TaskLancer.Controllers.CatalogController.InputModel
<div>
    <h4 class="pt-3">Catalog</h4>
    <hr />
    <div class="row">
        <div class="col-12 col-md-3">
            <form asp-action="Index">
                <p>Order by:</p>
                <select asp-for="FilterDate" class="form-select mb-3" aria-label="Default select example">
                  <option selected>None</option>
                  <option value="1">Ascending</option>
                  <option value="2">Descending</option>
                </select>
                <p>Filter by:</p>
                <div class="form-floating pb-3 mb-4">
                       <select multiple asp-for="SelectedSkillTags" asp-items="ViewBag.SkillTagsSelectList" class="form-control" id="tag-selector"></select>
                       <label asp-for="SelectedSkillTags" class="form-label"></label>
                </div>
                <div class="d-flex justify-content-center py-2">
                    <button type="submit" class="w-50 btn btn-sm btn-primary button-colors">Filter</button>
                </div>
            </form>
            
        </div>
        <div class="col-12 col-md-9 d-flex flex-wrap">
            @if(Model.PublishedContracts == null)
            {
                <h5>No Published Contracts</h5>
            }else{
                @foreach(var item in Model.PublishedContracts)
                {
                    <div class="card overflow-auto m-2 card-style" style="max-width: 300px; min-width:300px;">
                        <div class="card-body">
                            <h5 class="card-title col-sm-11">@Html.DisplayFor(modelItem => item.Task.Title)</h5>                   
                            <p class="card-text">Task Manager: @Html.DisplayFor(modelItem => item.Proposal.Manager.UserName)</p>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Task.Description)</p>
                            <p class="card-text">Amount recieving: @Html.DisplayFor(modelItem => item.Proposal.Amount) €</p>
                            <p class="card-text">Delivery date: @Html.DisplayFor(modelItem => item.Proposal.DeliveryDate)</p> 
                            <div class="d-flex flex-wrap">
                            @if(item.Task.SkillTags != null)
                            {
                                @foreach(var tag in item.Task.SkillTags)
                                {       
                                    <button type="button" class="btn btn-sm button-colors" disabled>@Html.DisplayFor(modelItem => tag.Name)</button>
                                }                      
                            } 
                            </div>
                            <a type="button" class="btn button-colors mt-2" style="max-height: 50px;" asp-controller="Contracting" asp-action="ByTask" asp-route-id ="@item.Task.TaskId">Details</a>                    
                        </div>
                    </div>
                }
            }           
        </div>
        
    </div>
</div>

<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/lib/select2-bootstrap-5-theme/select2-bootstrap-5-theme.min.css" rel="stylesheet" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script type="text/javascript">
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        $("#tag-selector").select2({
            placeholder: "Select Task Skill Tags",
            allowClear: true,
            theme: "bootstrap-5",
            dropdownParent: $("#tag-selector").parent(), // Required for dropdown styling
        });
    </script>
}