﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Board";
}

@section Scripts {
    <script src="~/js/TaskBoard/main.js" type="module"></script>
    <script src="~/js/TaskBoard/polyfills.js" type="module"></script>
    <script src="~/js/TaskBoard/runtime.js" type="module"></script>
}

<div>
    <h4 class="pt-3">@ViewBag.ProjectName</h4>
    <hr />
</div>


<div class="card flex-fill">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link tasklancer-color" asp-controller="Projects" asp-action="Details" asp-route-id="@ViewBag.ProjectId">Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" asp-controller="Projects" asp-action="Board" asp-route-id="@ViewBag.BoardId">Board</a>
            </li>
        </ul>
    </div>
    <div class="card-body overflow-auto" style="height: 25em"> 
        <taskboard-element token="@ViewBag.Token" board-id="@ViewBag.BoardId" host="@ViewBag.Host"></taskboard-element>
    </div>
            
    </div>


    <link href="~/js/TaskBoard/styles.css" rel="stylesheet" />