﻿@model TaskLancer.Controllers.ProjectsController.InputModel

@{
    ViewData["Title"] = "Details";
}

<style>
    input[type="checkbox"]:disabled {
        background-color: #008085;
        border-color: #008085;
    }

    input[type="checkbox"]:enabled {
        background-color: #008085;
        border-color: #008085;
    }

    input[type="checkbox"] {
        background-color: white;
        border-color: #008085;
    }
</style>

<div>
    <h4 class="pt-3">@Html.DisplayFor(model => model.Name)</h4>
    <hr />


    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"  asp-controller="Projects" asp-action="DetailsUserProject">Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="Projects" asp-action="Board" asp-route-id="@ViewBag.BoardId">Board</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
             <partial name="_StatusMessage" for="StatusMessage" />

            <dl class="row">
                <div class="d-flex col-sm-12">
                    <div class="row flex-fill">
                <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Name)
                </dd>

        </div>

        <div class="">
                        @if (ViewBag.hasEdit)
                        {
                <a asp-action="Edit" asp-route-id="@Model?.ProjectId"><i class="fa fa-pencil-square-o fa-lg align-self-center" aria-hidden="true"></i></a>
                        }
        </div>
    </div>

    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd class="col-sm-10 border border-primary overflow-auto richText-display-box">
                    @*@Html.DisplayFor(model => model.Description)*@
                    @Html.Raw(Model.Description)
    </dd>
    <dt class="col-sm-2">
        Category Tags:
    </dt>
    <dd class="col-sm-10 p-0">
        <select multiple disabled asp-for="SelectedCategoryTags" asp-items="ViewBag.CategoryTagsSelectList" style="width: 100%" id="tag-selector"></select>
    </dd>
    <dt class="col-sm-2">
        Project Manager:
    </dt>
    <dd class="col-sm-10 p-0">
        <a class="nav-link p-0" asp-controller="Profile" asp-action="Details" asp-route-username="@Model.Manager.UserName">@Model.Manager.UserName</a>
    </dd>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IsPublic)
    </dt>
    <dd class="col-sm-10 form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitch" checked=@Model.IsPublic disabled>
    </dd>
    </dl>


</div>






@*
<div>
    

      <taskBoard></taskBoard>

</div>*@

<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/lib/select2-bootstrap-5-theme/select2-bootstrap-5-theme.min.css" rel="stylesheet" />
<link href="~/lib/rich-text/richtext.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .select2-search {
        height: 0 !important;
    }

    .select2-selection__rendered {
        padding-top: 0.25em !important;
    }

    /*#description-rich .innercontents  {
            width: 100% !important;*/
    }
</style>

@section Scripts {

   
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/lib/rich-text/jquery.richtext.min.js"></script>
<script type="text/javascript">
    // $("#Input_Biography").richText({
    //       useSingleQuotes: true,
    // });
    //$("#Input_Biography").trigger("change");
    //$("#Input_Curriculum").richText({
    //       useSingleQuotes: true,
    // });
    //$("#Input_Curriculum").trigger("change");
     $("#tag-selector").select2({
         placeholder: "Select project categories",
         allowClear: true,
         theme: "bootstrap-5",
         dropdownParent: $("#tag-selector").parent(), // Required for dropdown styling
     });
</script>

@*<script src="~/dist/tasklancer-board/runtime.156609f8cece34a3.js" type="module"></script>
      <script  src="~/dist/tasklancer-board/polyfills.76d40db98c5441bd.js" type="module"></script>
      <script  src="~/dist/tasklancer-board/main.b8cfe79b7abf5e11.js" type="module"></script>
      <link href="~/dist/tasklancer-board/styles.4951656e934288fa.css" rel="stylesheet" />*@
}

