﻿@model TaskLancer.Controllers.ProjectsController.InputModel

@{
    ViewData["Title"] = "Edit";
}

<style>
    input[type="checkbox"]:disabled {
    background-color: #008085;
    border-color: #008085;
}

input[type="checkbox"]:enabled {
    background-color: #008085;
    border-color: #008085;
}

input[type="checkbox"] {
    background-color: white;
    border-color: #008085;
}
</style>

<h4 class="pt-3">Edit</h4>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjectId" />
            <div class="form-group py-3 col-md-4">
                <div class="d-flex">
                    <label asp-for="Name" class="control-label"></label>
                    <div class="ps-2">
                            <i class="fa fa-info-circle tasklancer-color align-self-center" aria-hidden="true"  data-bs-toggle="tooltip"  data-bs-placement="right" title="A name that fits your project."></i>
                    </div>
                </div>

                 <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group pb-3">
                <div class="d-flex">
                    <label asp-for="Description" class="control-label"></label>
                    <div class="ps-2">
                            <i class="fa fa-info-circle tasklancer-color align-self-center" aria-hidden="true"  data-bs-toggle="tooltip"  data-bs-placement="right" title="A description for your audience and stakeholders."></i>
                    </div>
                </div>
                <input asp-for="Description" id="Model_Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-floating mb-4 pb-3">
                <select multiple asp-for="SelectedCategoryTags" asp-items="ViewBag.CategoryTagsSelectList" class="form-control" style="width: 100%" id="tag-selector"></select>
                                <label asp-for="SelectedCategoryTags" class="form-label"></label>

            </div>
            <div class="form-group form-check form-switch pb-3">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="flexSwitch" asp-for="IsPublic" /> @Html.DisplayNameFor(model => model.IsPublic)
                </label>
            </div>
            <div class="d-flex justify-content-end pb-3">
                <div class="form-group col-sm-2 px-3">
                    @Html.ActionLink("Cancel", "DetailsUserProject", new { id = Model.ProjectId }, new { @class = "btn btn-outline-danger w-100"})
                </div>
                <div class="form-group col-sm-2 px-3">
                    <input type="submit" value="Save" class="btn btn-primary button-colors w-100" />
                </div>
            </div>
            
        </form>
    </div>
</div>

<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/lib/select2-bootstrap-5-theme/select2-bootstrap-5-theme.min.css" rel="stylesheet" />
<link href="~/lib/rich-text/richtext.min.css" rel="stylesheet" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/lib/rich-text/jquery.richtext.min.js"></script>
    <script type="text/javascript">
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        $("#Model_Description").richText({
              fonts: false,
              fontColor: false,
              fontSize: false,
              removeStyles: false,
              code: false,
              class: "form-control",

              useSingleQuotes: true,
        });
       $("#Model_Description").trigger("change");
       //$("#Input_Curriculum").richText({
       //       useSingleQuotes: true,
       // });
       //$("#Input_Curriculum").trigger("change");
        $("#tag-selector").select2({
            placeholder: "Select project categories",
            allowClear: true,
            theme: "bootstrap-5",
            dropdownParent: $("#tag-selector").parent(), // Required for dropdown styling
        });
    </script>
}
