﻿@model TaskLancer.Models.Project.DAL.CategoryTag

@{
    ViewData["Title"] = "Delete Cateorytag";
}

<h4 class="pt-3">Delete Cateorytag</h4>
<hr />
<div class="card">
    <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" asp-controller="BackOffice" asp-action="Index">Manage Content</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="BackOffice" asp-action="ManageUsers">Manage Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="BackOffice" asp-action="Statistics">Statistics</a>
                </li>
            </ul>
        </div>
    <div class="card-body">
        <h4 class="pt-3">Are you sure you want to delete this Tag?</h4>
        <div>
            <hr />
            <dl class="row">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
    
            <form asp-action="Delete">
                <input type="hidden" asp-for="CategoryTagId" />
                <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
                <a asp-action="Index" class="btn button-colors">Back to List</a>
            </form>
        </div>
    </div>
</div>