﻿@using TaskLancer.Models.Notifications.DAL
@model IEnumerable<Notification>

@{
    ViewData["Title"] = "Notifications";
}

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
    <h4 class="pt-3">Notifications</h4>
    <hr />

    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="NotificationSubscriptions" asp-action="Index">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" aria-current="page"  asp-controller="NotificationSubscriptions" asp-action="SeenNotifications">Seen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-controller="NotificationSubscriptions" asp-action="UnSeenNotifications">Unseen</a>
                </li>
            </ul>
        </div>
        <div class="card-body">

            <div>
                @foreach (var item in Model) {
                <div class="card overflow-auto my-2 card-style">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-11">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Description)</h5>
                                <p class="card-text">@Html.DisplayFor(modelItem => item.Content)</p>
                                <p class="card-text">@Html.DisplayFor(modelItem => item.DateTime)</p>
                            </div>
                            <div class="col-sm-1 d-flex justify-content-between">
                                @if(item.IsSeen == true)
                                {
                                    <a class="" asp-action = "ChangeStatus" asp-route-id ="@item.NotificationId" style="text-decoration: none;">
                                        <i class="fa fa-eye" style="font-size:30px; color:#008085;"></i>    
                                    </a>
                                }
                                @if(item.IsSeen == false)
                                {
                                    <a class="" asp-action = "ChangeStatus" asp-route-id ="@item.NotificationId" style="text-decoration: none;">
                                        <i class="fa fa-eye-slash" style="font-size:30px; color:#008085;"></i>    
                                    </a>
                                }                               
                                <a class="" asp-action = "Delete" asp-route-id ="@item.NotificationId" style="text-decoration: none;">
                                    <i class="fa fa-trash" style="font-size: 30px; color:red;"></i>
                                </a> 
                            </div>
                            <div class="col-sm-6 d-flex justify-content-start">
                                <a class="" asp-controller="NotificationSubscriptions" asp-action = "ChangeStatus" asp-route-id ="@item.NotificationId" style="text-decoration: none;">Check Notification</a>
                            </div>
                        </div>                                       
                    </div>
                    
                </div>
                }
            </div>
        </div>
    </div>
</div>

