﻿@model TaskLancer.Controllers.BackOfficeController.InputModel

@{
    ViewData["Title"] = "Edit User";
}

<h4 class="pt-3">Edit User</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="UserRole" class="control-label"></label>
                <select asp-for="UserRole" class = "form-select">
                    @if (Model.UserRole.Equals("administrator"))
                    {
                        <option value = "administrator" selected>Administrator</option>
                        <option value = "moderator">Moderator</option>
                        <option value = "null">No Role</option>
                    }
                    else if (Model.UserRole.Equals("moderator"))
                    {
                        <option value = "moderator" selected>Moderator</option>
                        <option value = "administrator">Administrator</option>
                        <option value = "null">No Role</option>
                    }
                    else
                    {
                        <option value = "null" selected>No Role</option>
                        <option value = "moderator">Moderator</option>
                        <option value = "administrator">Administrator</option>
                    }
                </select>
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="Save" class="btn button-colors" />
            </div>
        </form>
    </div>
</div>
<p></p>
<div>
    <a asp-action="ManageUsers" class="btn button-colors">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
