﻿
@{
    ViewData["Title"] = "BackOffice - Manage Tags";
}
<h4 class="pt-3">BackOffice - Manage Tags</h4>
<hr />
<div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-controller="BackOffice" asp-action="Index">Manage Content</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="BackOffice" asp-action="ManageUsers">Manage Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="BackOffice" asp-action="Statistics">Statistics</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div>
                @if (User.IsInRole("administrator"))
                    {
                        <a class="nav-link tasklancer-color" asp-controller="SkillTags" asp-action="Index">Manage SkillTags</a>
                        <a class="nav-link tasklancer-color" asp-controller="CategoryTags" asp-action="Index">Manage CategoryTags</a>
                    }
                else
                    {
                        <p>Não tem Acesso a esta página</p>
                    }
            </div>
        </div>
</div>