﻿@model IEnumerable<TaskLancer.Controllers.BackOfficeController.InputModel>

@{
    ViewData["Title"] = "BackOffice - ManageUsers";
}
<h4 class="pt-3">BackOffice - ManageUsers</h4>
<hr />
<div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="BackOffice" asp-action="Index">Manage Content</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-controller="BackOffice" asp-action="ManageUsers">Manage Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="BackOffice" asp-action="Statistics">Statistics</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div>
                @if (User.IsInRole("administrator"))
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Id)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UserName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UserRole)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                        @foreach (var item in Model) 
                        {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserRole)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn button-colors">Edit</a>
                                    </td>
                                </tr>
                        }
                            </tbody>
                        </table>
                    }
                else
                    {
                        <p>Não tem Acesso a esta página</p>
                    }
            </div>
        </div>
</div>