﻿@{
    ViewData["Title"] = "BackOffice - Statistics";
}

@model TaskLancer.Controllers.BackOfficeController.StatisticsModel

<h4 class="pt-3">BackOffice - Statistics</h4>
<hr />
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link tasklancer-color" asp-controller="BackOffice" asp-action="Index">Manage Content</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tasklancer-color" asp-controller="BackOffice" asp-action="ManageUsers">Manage Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" asp-controller="BackOffice" asp-action="Statistics">Statistics</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card h-100">
                      <h5 class="card-header">Users</h5>
                      <div class="card-body">
                            <div class="row row-cols-2">
                                <dt>
                                    <p>Total Users:</p>
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.totalUsers)
                                </dd>
                                <dt>
                                    <p>Total Managers:</p>
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.totalManagers)
                                </dd>
                                <dt>
                                    <p>Total Freelancers:</p>
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.totalFreelancers)
                                </dd>
                            </div>
                      </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <h5 class="card-header">Users Chart</h5>
                    <div class="card-body">
                        <canvas class="my-4" style="max-height: 15em;" id="pie1"></canvas>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                      <h5 class="card-header">Projects/Contracting</h5>
                      <div class="card-body">
                          <div class="row row-cols-2">
                                <dt class="">
                                    <p>Total Projects:</p>
                                </dt>
                                <dd class="">
                                    @Html.DisplayFor(model => model.totalProjects)
                                </dd>
                                <dt class="">
                                    <p>Total Contracting Processes:</p>
                                </dt>
                                <dd class="">
                                    @Html.DisplayFor(model => model.totalContracts)
                                </dd>
                                <dt class="">
                                    <p>Published:</p>
                                </dt>
                                <dd class="">
                                    @Html.DisplayFor(model => model.totalContractsPublished)
                                </dd>
                                <dt class="">
                                    <p>Pending Payment:</p>
                                </dt>
                                <dd class="">
                                    @Html.DisplayFor(model => model.totalContractsPendingPayment)
                                </dd>
                                <dt class="">
                                    <p>Ongoing:</p>
                                </dt>
                                <dd class="">
                                    @Html.DisplayFor(model => model.totalContractsOngoing)
                                </dd>
                                <dt class="">
                                    <p>Under Evaluation:</p>
                                </dt>
                                <dd class="">
                                    @Html.DisplayFor(model => model.totalContractsUnderEvaluation)
                                </dd>
                                <dt class="">
                                    <p>Completed:</p>
                                </dt>
                                <dd class="">
                                    @Html.DisplayFor(model => model.totalContractsCompleted)
                                </dd>
                                <dt class="">
                                    <p>Canceled:</p>
                                </dt>
                                <dd class="">
                                    @Html.DisplayFor(model => model.totalContractsCanceled)
                                </dd>
                                <dt class="">
                                    <p>Average Time Contracts Completed:</p>
                                </dt>
                                <dd class="">
                                    @Html.DisplayFor(model => model.averageTimeContractsCompleted)
                                </dd>
                            </div>
                      </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <h5 class="card-header">Contracting Chart</h5>
                    <div class="card-body">
                        <canvas class="my-4" id="bar"></canvas>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                      <h5 class="card-header">Financial</h5>
                      <div class="card-body">
                         <div class="row row-cols-2">
                                <dt>
                                    <p>Total Transactions:</p>
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.totalTransactions)
                                </dd>
                                <dt>
                                    <p>Plataform profit:</p>
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.platformProfit) €
                                </dd>
                         </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
        const ctx1 = document.getElementById('pie1').getContext('2d');
        const myChart1 = new Chart(ctx1, {
            type: 'pie',
            data: {
                labels: ['Managers', 'Freelancers'],
                datasets: [{
                    label: 'Users',
                    data: [@Model.totalManagers, @Model.totalFreelancers],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
            }
        });

        const ctx2 = document.getElementById('bar').getContext('2d');
        const myChart2 = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: ['Published', 'Pending Payment', 'Ongoing', 'Under Evaluation', 'Completed', 'Canceled'],
                datasets: [{
                    label: 'Contracting State',
                    data: [@Model.totalContractsPublished, @Model.totalContractsPendingPayment,@Model.totalContractsOngoing,@Model.totalContractsUnderEvaluation,@Model.totalContractsCompleted,@Model.totalContractsCanceled],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
</script>