﻿ <div class="col-lg-6 text-white p-4">
        <section class="d-flex flex-column justify-content-center">
            <img src="~/images/TaskLancer_Logo.png" width="100%" class="p-2"/>
            <h3 class="text-center mt-4">What is our mission?</h3>
            <p class="text-center p-2">We intend to develop an open platform that enhances the interconnection between freelancers and small-scale project managers. We seek to encourage transparency of resource allocation and the adoption of adaptable work methodologies in project development.</p>
<p class="text-center p-2">For project managers, our platform will provide project organization tools, a marketplace of professionals with diverse skillsets and an intuitive and secure process for purchasing services. For crowd-funded project initiators, all tasks and interactions will be public, presenting investors with both a development road-map (by sharing planned tasks) and a record of resource allocation (by revealing transactions made with freelancers).</p>
<p class="text-center p-2">For freelancers producing digital content, the platform seeks to facilitate the discovery of small-to-medium scale work, offering autonomy and choice. It allows the organization of current tasks and the generation of a public record of completed tasks. To assist communication with the client, it will be possible to send direct messages and files. It will establish a secure transaction protocol with the platform as an intermediary.</p>
        </section>
    </div>