﻿<!DOCTYPE html>
<html lang="en">

@using Microsoft.AspNetCore.Identity
@using TaskLancer.Areas.Identity.Data
@inject SignInManager<TaskLancerUser> SignInManager
@inject UserManager<TaskLancerUser> UserManager

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskLancer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TaskLancer.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/download.js"></script>
    <link href="~/lib/bootstrap-star-rating/css/star-rating.css" media="all" rel="stylesheet" type="text/css" />
    <script src="~/lib/bootstrap-star-rating/js/star-rating.js"></script>
    <link href="~/lib/bootstrap-star-rating/themes/krajee-svg/theme.css" media="all" rel="stylesheet" type="text/css" />
    <script src="~/lib/bootstrap-star-rating/themes/krajee-svg/theme.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="manifest" href="/manifest.json">
</head>

<style>
    .navbar {
        background: #008085;
    }


</style>

<body class="d-flex flex-column vh-100">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/TaskLancer_Logo.png" height="50"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <div class="flex-fill">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        DashBoard
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item card-item-style" style="width: 200px;" asp-controller="DashBoard" asp-action="MyProjects">Manager Dashboard</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a class="dropdown-item card-item-style" style="width: 200px;" asp-controller="DashBoard" asp-action="UnderConsiderationTasks">Freelancer Dashboard</a></li>         
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " asp-area="" asp-controller="Profile" asp-action="DetailsUserProfile">My Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " asp-area="" asp-controller="UserPayments" asp-action="UnpaidPayments">Payments</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link " asp-area="" asp-controller="Catalog" asp-action="Index">Task Catalog</a>
                                </li>
                                @if (User.IsInRole("administrator"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link " asp-area="" asp-controller="BackOffice" asp-action="Index">BackOffice</a>
                                    </li>
                                }
                            </ul>
                        }
                    </div>  
                    <div>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="overflow-auto flex-fill d-flex flex-column">
         <main role="main" class="container flex-fill d-flex flex-column">
        @RenderBody()
    </main>
    @Html.Partial("_UserManualPartial");
    <footer class="border-top py-2 mt-2">
        <div class="container d-flex justify-content-between">
            <div class="d-flex">
                &copy; 2022 - TaskLancer - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
            
                 <button type="button" class="btn button-colors" onclick='showUserManual("item-1")'>User Manual</button>

        </div>
    </footer>
    </div>
    

    <script type="text/javascript">
        $(document).ready(function(){
            if ('serviceWorker' in navigator) {
                window.addEventListener("load", () => {
                    navigator.serviceWorker.register("/js/ServiceWorker.js")
                        .then((reg) => {
                            if (Notification.permission === "granted") {
                                $("#form").show();                           
                                getSubscription(reg);
                            }else{
                                requestNotificationAccess(reg);
                            }
                        });
                });
            } 
        })
        

        function requestNotificationAccess(reg) {
            Notification.requestPermission(function (status) {              
                if (status == "granted") {                  
                    $("#form").show();
                    getSubscription(reg);
                }
            });
        }

        function getSubscription(reg) {
            reg.pushManager.getSubscription().then(function (sub) {
                if (sub === null) {
                    reg.pushManager.subscribe({
                        userVisibleOnly: true,
                        applicationServerKey: "BDCDSNTJBiu4uICZxH0lfCxBuycfxRPCMV7nOMnHMos7AKC8LAeTEItTBURAah_dqCLpgPXb_ag40o3g5xX2ZoM"
                    }).then(function (sub) {
                        fetch('/NotificationSubscriptions/RegisterWebPushSubscription', {
                            method: "post",
                            headers: {
                                'Content-type': 'application/json'
                            },
                            body: JSON.stringify({
                                endpoint: sub.endpoint,
                                p256dh: arrayBufferToBase64(sub.getKey("p256dh")),
                                auth: arrayBufferToBase64(sub.getKey("auth"))
                            })
                        });
                    }).catch(function (e) {
                        console.error("Unable to subscribe to push", e);
                    });
                } else {
                    console.log(sub.endpoint);
                    console.log(arrayBufferToBase64(sub.getKey("p256dh")));
                    console.log(arrayBufferToBase64(sub.getKey("auth")));
                    console.dir(sub);
                }
            });
        }

        function arrayBufferToBase64(buffer) {
            var binary = '';
            var bytes = new Uint8Array(buffer);
            var len = bytes.byteLength;
            for (var i = 0; i < len; i++) {
                binary += String.fromCharCode(bytes[i]);
            }
            return window.btoa(binary);
        }


    </script>

  
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
