﻿@using Microsoft.AspNetCore.Identity
@using TaskLancer.Areas.Identity.Data
@using TaskLancer.Services
@using TaskLancer.Models.Notifications.BLL
@inject SignInManager<TaskLancerUser> SignInManager
@inject UserManager<TaskLancerUser> UserManager
@inject INotificationService NotificationService

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <div class="dropdown">
            <button class="dropdown-toggle btn btn-primary dropdown-icon" type="button" data-bs-toggle="dropdown">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                </svg>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    @NotificationService.GetUnseenNotifications(await UserManager.FindByNameAsync(User.Identity?.Name)).Count()
                    <span class="visually-hidden">unread messages</span>
                </span>
            </button>               
                <div class="dropdown-menu dropdown-menu-end pt-0" style="width: 500px;">                   
                    @foreach(var notif in NotificationService.GetUnseenNotifications(await UserManager.FindByNameAsync(User.Identity?.Name)).Take(5))
                    {
                        <a class="dropdown-item my-0 card-item-style border-bottom" asp-controller="NotificationSubscriptions" asp-action = "ChangeStatus" asp-route-id ="@notif.NotificationId">
                            <div>
                                <h6>@notif.Description</h6>
                                <p class="mb-0">@notif.Content </p>
                            </div>
                        </a>                                            
                    }             
                <a class="dropdown-item card-item-style mt-2" asp-area="" asp-controller="NotificationSubscriptions" asp-action="Index">See All</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a  class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
