﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="userManualModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content h-25">
            <div class="modal-header">
                <h5 class="modal-title">TaskLancer's User Manual</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="">
                <div class="d-flex flex-row" style="height: 25em;">
                    <nav id="navbar-example3" class="col-4 navbar-light bg-light flex-column align-items-stretch p-2" style="overflow-y: scroll; overflow-x: auto;">
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link" href="#introduction">Introduction</a>
                            <nav class="nav nav-pills flex-column my-1">
                                <a class="nav-link ms-2" href="#project-managing">Project Managing</a>
                                <a class="nav-link ms-2" href="#freelancing">Freelancing</a>
                            </nav>
                            <a class="nav-link" href="#projects">Projects</a>
                            <nav class="nav nav-pills flex-column my-1">
                                <a class="nav-link ms-2" href="#board">Board</a>
                            </nav>
                            <a class="nav-link" href="#contracting-process">Contracting Process</a>
                            <nav class="nav nav-pills flex-column my-1">
                                <a class="nav-link ms-2" href="#process-phases">Process Phases</a>
                                <nav class="nav nav-pills flex-column my-1">
                                    <a class="nav-link ms-4" href="#published">Published</a>
                                    <a class="nav-link ms-4" href="#pending-payment">Pending Payment</a>
                                    <a class="nav-link ms-4" href="#ordered">Ordered</a>
                                    <a class="nav-link ms-4" href="#delivered">Delivered</a>
                                    <a class="nav-link ms-4" href="#under-evaluation">Under Evaluation</a>
                                    <a class="nav-link ms-4" href="#completed">Completed</a>
                                    <a class="nav-link ms-4" href="#canceled">Canceled</a>
                                </nav>
                                <a class="nav-link ms-2" href="#process-actions">Process Actions</a>
                                <nav class="nav nav-pills flex-column my-1">
                                    <a class="nav-link ms-4" href="#submitting-counter-proposal">Submitting Counter-Proposal</a>
                                    <a class="nav-link ms-4" href="#accepting-counter-proposal">Accepting Counter-Proposal</a>
                                    <a class="nav-link ms-4" href="#submitting-delivery">Submitting Delivery</a>
                                    <a class="nav-link ms-4" href="#accepting-delivery">Accepting Delivery</a>
                                    <a class="nav-link ms-4" href="#freelancer-payout">Freelancer Payout</a>

                                </nav>
                            </nav>
                        </nav>
                    </nav>

                    <div id="userManualContent" class="col-8 scrollspy p-4" data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="40" tabindex="0">
                        <h4 id="introduction">Introduction</h4>
                        <p>TaskLancer is an open platform that enhances the interconnection between freelancers and small-scale project managers. We seek to encourage transparency of resource allocation and the adoption of adaptable work methodologies in project development.</p>
                        <h5 id="project-managing">Project Managing</h5>
                        <p>For project managers, our platform will provide project organization tools, a marketplace of professionals with diverse skillsets and an intuitive and secure process for purchasing services. For crowd-funded project initiators, all tasks and interactions will be public, presenting investors with both a development road-map (by sharing planned tasks) and a record of resource allocation (by revealing transactions made with freelancers).</p>
                        <h5 id="freelancing">Freelancing</h5>
                        <p>For freelancers producing digital content, the platform seeks to facilitate the discovery of small-to-medium scale work, offering autonomy and choice. It allows the organization of current tasks and the generation of a public record of completed tasks. To assist communication with the client, it will be possible to send direct messages and files. It will establish a secure transaction protocol with the platform as an intermediary.</p>
                        <h4 id="projects">Projects</h4>
                        <p>As a manager you can create projects in TaskLancer. Access your projects in Manager Dashboard. Each project has a tittle, description, appropriate category-tags, an access policy and a task board.</p>
                        <h5 id="board">Board</h5>
                        <p>Projects in TaskLancer have a task board modelled after the KANBAN methodology. A board can be organized with columns and tasks can be moved between them as you complete or outsource each one.</p>

                        <h4 id="contracting-process">Contracting Process</h4>
                        <p>A project manager can, at any time, publish a project board task (represented as a card) for outsourcing in the TaskLancer freelance market.</p>
                        <p>Any task with an associated contracting process will be locked for editing and can not be deleted from the board. For now we recommend creating columns dedicated to archival of completed tasks, in the future we wish to add an archive functionality.</p>
                        <p>A contracting process must have:</p>
                        <ul>
                            <li>a related project task;</li>
                            <li>a counter-proposal submission limit date;</li>
                            <li>a proposal description;</li>
                            <li>a proposed final delivery limit date;</li>
                            <li>a proposed monetary amount;</li>
                            <li>appropriate skill-tags;</li>
                        </ul>
                        <h5 id="process-phases">Process Phases</h5>
                        <p>A contracting process goes through different states and can be successful or not. The expected experience is resumed as follows:</p>
                        <ol>
                            <li>It begins with a manager <strong>publishing</strong> a outsourcing proposal for a task;</li>
                            <li>Freelancers <strong>submit counter-proposals</strong>;</li>
                            <li>Manager a<strong>ccepts a counter-proposal</strong> submitted by a freelancer;</li>
                            <li>Manager <strong>pays</strong> the amount agreed to the platform (using PayPal);</li>
                            <li>Freelancer <strong>submits a delivery</strong> before the limit date;</li>
                            <li>Manager <strong>reviews and accepts a delivery</strong>;</li>
                            <li>Both r<strong>ate and review</strong> the experience.</li>
                        </ol>
                        <p>But sometimes things don’t go as expected. We will explain each phase, the actions available and the timeout events that can happen.</p>
                        <h6 id="published">Published</h6>
                        <p>The task has been successfully published for outsourcing in the freelance market. You have until the counter-proposal submission limit date to pick a counter-proposal, otherwise the contracting process will be cancelled.</p>
                        <h6 id="pending-payment">Pending Payment</h6>
                        <p>The manager has chosen a freelancer’s counter-proposal! Before we give them the green-light to start working on your task you need to secure the payment with the platform.</p>
                        <p>Warning: The manager only has until 48 hours after the set counter-proposal submission date to complete the payment. Otherwise, the contracting process will be cancelled.</p>
                        <h6 id="ordered">Ordered</h6>
                        <p>The manager has secured the payment and the task has now been successfully outsourced to the freelancer.</p>
                        <p>During this phase, the freelancer will be able to submit potential deliveries which you can approve or decline.</p>
                        <h6 id="delivered">Delivered</h6>
                        <p>The manager has accepted a delivery by the freelancer.</p>
                        <h6 id="under-evaluation">Under Evaluation</h6>
                        <p>There is a pending delivery after the limit delivery date.</p>
                        <p>The manager now has 48 hours to make a decision and the freelancer can no longer submit new deliveries.</p>
                        <h6 id="completed">Completed</h6>
                        <p>Outsourcing was successful.</p>
                        <h6 id="canceled">Canceled</h6>
                        <p>The process was canceled.</p>

                        <h5 id="process-actions">Process Actions</h5>
                        <p>As the process progresses, new actions are unlocked for the manager and the freelancer.</p>
                        <h6 id="submitting-counter-proposal">Submitting Counter-Proposal</h6>
                        <p>A freelancer can submit a new counter-proposal for any contracting process still accepting submissions. With a counter-proposal the freelancer can choose to counter the delivery date and payment amount proposed by the manager, as well as sending a self-introductory letter.</p>
                        <h6 id="accepting-counter-proposal">Accepting Counter-Proposal</h6>
                        <p>The manager can accept a submitted counter-proposal before the limit date. By accepting a counter-proposal, all others are automatically rejected and the process continues to Pending Payment phase.</p>
                        <h6 id="submitting-delivery">Submitting Delivery</h6>
                        <p>The accepted freelancer can, at any time before the delivery date, submit a delivery to the manager. This delivery includes:</p>
                        <ol>
                            <li>One or more final files (locked to the manager unless the delivery is accepted);</li>
                            <li>One or more sample files (immediately available to the manager for decision making);</li>
                            <li>A final comment on the delivery.</li>
                        </ol>
                        <p>If a delivery is rejected, the freelancer can still submit new deliveries within the time limit. When a delivery is accepted, the freelancer payout is unlocked.</p>
                        <h6 id="accepting-delivery">Accepting Delivery</h6>
                        <p>The manager, upon receiving a new delivery for an Ordered contracting process, can decide either to approve it or decline it.</p>
                        <p>Approving a delivery will complete the contracting process and unlock the final file. Declining within the delivery time limit will allow the freelancer to submit a new delivery.</p>
                        <p>After the delivery date, if there’s still a pending delivery, the manager has 48 hours to approve or decline it. Not responding or declining it will cancel the process and refund the amount paid without platform taxes.</p>

                        <h6 id="freelancer-payout">Freelancer Payout</h6>
                        <p>When a freelancer’s delivery is approved, the contracting process concludes and the secured funds are unlocked to the freelancer. After configuring a valid PayPal account in TaskLancer’s account settings, the freelancer can ask for the amount to be sent.</p>

                        <div style="height: 25em;"></div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                @* <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var initialized = false;

    function showUserManual(id){
        var userManualModalEl = document.getElementById('userManualModal');

        $("#userManualModal").modal("show");

        if(id){
            userManualModalEl.addEventListener('shown.bs.modal' ,function (event) {
                if(!initialized){
                    $("#userManualContent").scrollspy('refresh');
                    initialized = true;
                }

                document.getElementById(id).scrollIntoView();
            }, {once: true});
        }
    }



</script>