﻿@model ErrorViewModel

<h1 class="text-danger">@ViewData["Title"]</h1>
<h3>@ViewData["Description"]</h3>

@if (Model?.ShowRequestId ?? false)
{
    <p>
        <strong>Request ID:</strong> <code>@Model?.RequestId</code>
    </p>
}
