﻿@{
    ViewData["Title"] = "Home Page";
}

<style>
        body {
            background: #008085;
            background-image: url("/images/background2.png");
            background-size: cover;
        }

        footer {
            background: #fff;
        }
    </style>


<div class="row justify-content-evenly">
    <partial name="_LandingPartial" />
</div>