﻿@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h1 class="pt-5">Manage your account</h1>

<div>
    <h4 class="py-3">Change your account settings</h4>
    <hr />
    <div class="row card">
        <div class="card-header">
            <partial name="_ManageNav" />
        </div>
        <div class="card-body">
                @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
