﻿@page
@using TaskLancer.Models
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
 
   @* <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
          <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>*@

<div class="row p-3">
    <h3 class="pb-3">@ViewData["Title"]</h3>
    
    <div class="col-md-8">
        <partial name="_StatusMessage" for="StatusMessage" />
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating pb-3">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating pb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating pb-3">
                <input asp-for="Input.PaypalEmail" class="form-control"/>
                <label asp-for="Input.PaypalEmail" class="form-label"></label>
                <span asp-validation-for="Input.PaypalEmail" class="text-danger"></span>
            </div>
            <div class="form-floating pb-3">
                <input asp-for="Input.Biography" class="form-control" />
                <label asp-for="Input.Biography" class="form-label"></label>
                <span asp-validation-for="Input.Biography" class="text-danger"></span>
            </div>
            <div class="form-floating pb-3">
                @*<input type="text" id="Input_Curriculum" name="Input.Curriculum" class="form-control" value="@Model.Input.Curriculum"/>*@
                <input asp-for="Input.Curriculum" class="form-control" />
                <label asp-for="Input.Curriculum" class="form-label"></label>
                @*<div>
                    <textarea class="form-control" asp-for="Input.Curriculum" name="editor1"></textarea>
                </div>*@
                <span asp-validation-for="Input.Curriculum" class="text-danger"></span>
            </div>
            <div class="row">
                <dt class="col-sm-3">
                    <p>Email Notifications</p>
                </dt>
                <dd class="col-sm-9 form-check form-switch">
                    <input asp-for="Input.IsEmailSubscribed" class="form-check-input" type="checkbox" id="flexSwitch">
                </dd>
            </div>
           @* <div class="form-floating pb-3">
               @Html.ListBox("Input.SelectedSkillTags", Model.AllSkillTags);
            </div>
               *@
            <div class="form-floating pb-3 mb-4">
                   <select multiple asp-for="Input.SelectedSkillTags" asp-items="Model.SkillTagsSelectList" class="form-control" id="tag-selector"></select>
                   <label asp-for="Input.SelectedSkillTags" class="form-label"></label>
            </div>

            @*<script src="https://cdn.ckeditor.com/4.17.1/standard/ckeditor.js"></script>
            <script>
                CKEDITOR.replace( 'editor1' );
            </script>*@
            <div class="d-flex flex-row-reverse">
                <button id="update-profile-button" type="submit" class="mt-4 btn btn-lg btn-primary button-colors">Save</button>
            </div>
        </form>      
    </div>
   <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
   <link href="~/lib/select2-bootstrap-5-theme/select2-bootstrap-5-theme.min.css" rel="stylesheet" />
      <link href="~/lib/rich-text/richtext.min.css" rel="stylesheet" />
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

   
</div>

<style>
    .richText {
        padding-top: 3em !important;
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/lib/rich-text/jquery.richtext.min.js"></script>
    <script type="text/javascript">
        $("#Input_Biography").richText({
              fonts: false,
              fontColor: false,
              fontSize: false,
              removeStyles: false,
              code: false,
              //class: "form-control",

              useSingleQuotes: true,
        });
       $("#Input_Biography").trigger("change");
       $("#Input_Curriculum").richText({
              fonts: false,
              fontColor: false,
              fontSize: false,
              removeStyles: false,
              code: false,
              //class: "form-control",

              useSingleQuotes: true,
        });
       $("#Input_Curriculum").trigger("change");
        $("#tag-selector").select2({
            placeholder: "Select your skills",
            allowClear: true,
            theme: "bootstrap-5",
            dropdownParent: $("#profile-form"), // Required for dropdown styling
        });
    </script>
}
