﻿@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Reset authenticator key";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="p-3">
    <h3 class="pb-3">@ViewData["Title"]</h3>
    <div class="alert alert-warning" role="alert">
        <p>
            <span class="glyphicon glyphicon-warning-sign"></span>
            <strong>If you reset your authenticator key your authenticator app will not work until you reconfigure it.</strong>
        </p>
        <p>
            This process disables 2FA until you verify your authenticator app.
            If you do not complete your authenticator app configuration you may lose access to your account.
        </p>
    </div>
    <div class="d-flex justify-content-center">
        <form id="reset-authenticator-form" method="post">
            <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Reset authenticator key</button>
        </form>
    </div>
</div>
