﻿@model TaskLancer.Controllers.DashBoardController.FreelancerStatisticsModel

<div>
    <h4 class="pt-3">FreeLancer DashBoard</h4>
    <hr />
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="DashBoard" asp-action="UnderConsiderationTasks">Under Consideration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="DashBoard" asp-action="OnGoingTasks">On Going</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="DashBoard" asp-action="CompletedTasks">Completed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="DashBoard" asp-action="CanceledTasks">Canceled</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-controller="DashBoard" asp-action="FreelancerStats">Statistics</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="row row-cols-1 row-cols-xl-2 g-4">
                <div class="col">
                    <div class="card h-100">
                        <h5 class="card-header">Contracting Processes</h5>
                        <div class="card-body">
                            <div class="row row-cols-2">
                                <dt class="">
                                    <p>Total:</p>
                                </dt>
                                <dd class="">
                                    @Html.DisplayFor(model => model.totalContracts)
                                </dd>
                                <dt class="">
                                    <p>Pending counter-proposal</p>
                                </dt>
                                <dd class="">
                                    @Html.DisplayFor(model => model.totalContractsPendingCounterProposal)
                                </dd>
                                <dt class="">
                                    <p>Pending Manager Payment</p>
                                </dt>
                                <dd class="">
                                    @Html.DisplayFor(model => model.totalContractsPendingManagerPayment)
                                </dd>
                                <dt class="">
                                    <p>Ongoing:</p>
                                </dt>
                                <dd class="">
                                    @Html.DisplayFor(model => model.totalContractsOngoing)
                                </dd>
                                <dt class="">
                                    <p>Waiting Manager approval:</p>
                                </dt>
                                <dd class="">
                                    @Html.DisplayFor(model => model.totalContractsWaitingManagerApproval)
                                </dd>
                                <dt class="">
                                    <p>Completed:</p>
                                </dt>
                                <dd class="">
                                    @Html.DisplayFor(model => model.totalContractsCompleted)
                                </dd>
                                <dt class="">
                                    <p>Canceled:</p>
                                </dt>
                                <dd class="">
                                    @Html.DisplayFor(model => model.totalContractsCanceled)
                                </dd>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <h5 class="card-header">Contracting Chart</h5>
                        <div class="card-body">
                            <canvas class="my-4" style="max-height: 15em;" id="bar"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <h5 class="card-header">Financial</h5>
                        <div class="card-body">
                            <div class="row row-cols-2">
                                <dt class="">
                                    <p>Total Received:</p>
                                </dt>
                                <dd class="">
                                    @Html.DisplayFor(model => model.totalReceived) €
                                </dd>
                                <dt class="">
                                    <p>Pending value from payouts:</p>
                                </dt>
                                <dd class="">
                                    @Html.DisplayFor(model => model.totalWaitingForPayout) €
                                </dd>
                                <dt class="">
                                    <p>Total value from ongoing tasks:</p>
                                </dt>
                                <dd class="">
                                    @Html.DisplayFor(model => model.totalFromOngoingTasks) €
                                </dd>                          
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <h5 class="card-header">Financial Chart</h5>
                        <div class="card-body">
                            <canvas class="my-4" style="max-height: 15em;" id="pie"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    const ctx1 = document.getElementById('bar').getContext('2d');
    const myChart1 = new Chart(ctx1, {
        type: 'bar',
        data: {
            labels: ['Pending Counter-proposal', 'Pending Manager Payment', 'Ongoing', 'Waiting Manager Approval', 'Completed', 'Canceled'],
            datasets: [{
                label: 'Contracting Total',
                data: [@Model.totalContractsPendingCounterProposal,@Model.totalContractsPendingManagerPayment,@Model.totalContractsOngoing, @Model.totalContractsWaitingManagerApproval,@Model.totalContractsCompleted , @Model.totalContractsCanceled],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const ctx2 = document.getElementById('pie').getContext('2d');
    const myChart2 = new Chart(ctx2, {
        type: 'pie',
        data: {
            labels: ['Total Recieved', 'Pending Value from Payouts', 'Value from Ongoing Tasks'],
            datasets: [{
                label: 'Financial Total',
                data: [@Model.totalReceived.ToString().Replace(",", ".") ,@Model.totalWaitingForPayout.ToString().Replace(",", "."), @Model.totalFromOngoingTasks.ToString().Replace(",", ".")],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
        }
    });
</script>