﻿@model TaskLancer.Controllers.DashBoardController.ManagerStatisticsModel

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
    <h4 class="pt-3">Manager DashBoard</h4>
    <hr />
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="DashBoard" asp-action="MyProjects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="DashBoard" asp-action="OutSourcedTasks">Outsourced Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-controller="DashBoard" asp-action="ManagerStats">Statistics</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="row row-cols-1 row-cols-xl-2 g-4">
                <div class="col">
                    <div class="card h-100">
                        <h5 class="card-header">Projects</h5>
                        <div class="card-body">
                            <div class="row row-cols-2">
                                <dt>
                                    <p>Total:</p>
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.totalProjects)
                                </dd>
                                <dt>
                                    <p>Private projects:</p>
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.totalPrivateProjects)
                                </dd>
                                <dt>
                                    <p>Public projects:</p>
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.totalPublicProjects)
                                </dd>
                                <dt>
                                    <p>Total tasks:</p>
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.totalTasks)
                                </dd>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <h5 class="card-header">Projects Chart</h5>
                        <div class="card-body">
                            <canvas class="my-4" style="max-height: 15em;" id="pie1"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <h5 class="card-header">Contracting Processes</h5>
                        <div class="card-body">
                            <div class="row row-cols-2">
                                <dt>
                                    <p>Total:</p>
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.totalContracts)
                                </dd>
                                <dt>
                                    <p>Published:</p>
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.totalContractsPublished)
                                </dd>
                                <dt>
                                    <p>Pending Payment:</p>
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.totalContractsPendingPayment)
                                </dd>
                                <dt>
                                    <p>Waiting for Delivery:</p>
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.totalContractsWaintingForDelivery)
                                </dd>
                                <dt>
                                    <p>Under Evaluation:</p>
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.totalContractsUnderEvaluation)
                                </dd>
                                <dt>
                                    <p>Completed:</p>
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.totalContractsCompleted)
                                </dd>
                                <dt>
                                    <p>Canceled:</p>
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.totalContractsCanceled)
                                </dd>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <h5 class="card-header">Contracting Chart</h5>
                        <div class="card-body">
                            <canvas class="my-4" id="bar"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <h5 class="card-header">Financial</h5>
                        <div class="card-body">
                            <div class="row row-cols-2">
                                <dt>
                                    <p>Total paid:</p>
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.totalPaid) €
                                </dd>
                                <dt>
                                    <p>Total waiting for payment:</p>
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.totalWaitingForPayment) €
                                </dd>
                                <dt>
                                    <p>Total in current proposals:</p>
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.totalInCurrentProposals) €
                                </dd>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <h5 class="card-header">Financial Chart</h5>
                        <div class="card-body">
                            <canvas class="my-4" style="max-height: 15em;" id="pie2"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    const ctx1 = document.getElementById('pie1').getContext('2d');
    const myChart1 = new Chart(ctx1, {
        type: 'pie',
        data: {
            labels: ['Public Projects', 'Private Projects'],
            datasets: [{
                label: 'Projects State',
                data: [@Model.totalPublicProjects, @Model.totalPrivateProjects],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
        }
    });

    const ctx2 = document.getElementById('bar').getContext('2d');
    const myChart2 = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: ['Published', 'Pending Payment', 'Waiting For Delivery', 'Under Evaluation', 'Completed', 'Canceled'],
            datasets: [{
                label: 'Contracting State',
                data: [@Model.totalContractsPublished, @Model.totalContractsPendingPayment, @Model.totalContractsWaintingForDelivery, @Model.totalContractsUnderEvaluation, @Model.totalContractsCompleted, @Model.totalContractsCanceled],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const ctx3 = document.getElementById('pie2').getContext('2d');
    const myChart3 = new Chart(ctx3, {
        type: 'pie',
        data: {
            labels: ['Total Paid', 'Wainting For Payment', 'CurrentProposals'],
            datasets: [{
                label: 'Financial Total',
                data: [@Model.totalPaid.ToString().Replace(",", "."), @Model.totalWaitingForPayment.ToString().Replace(",", "."), @Model.totalInCurrentProposals.ToString().Replace(",", ".")],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
        }
    });
</script>