﻿@model TaskLancer.Controllers.DashBoardController.ProjectsList

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
    <h4 class="pt-3">Manager DashBoard</h4>
    <hr />
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-controller="DashBoard" asp-action="MyProjects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="DashBoard" asp-action="OutSourcedTasks">Outsourced Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="DashBoard" asp-action="ManagerStats">Statistics</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            @if (Model.projectModels.Count == 0)
            {
                <h5>No Projects</h5>
            }
            else
            {
                @foreach (var item in Model.projectModels)
                {

                    <div class="card overflow-auto my-2 card-style">
                        <div class="card-body ">
                            <div class="row w-100">
                                <div class="col-md-10 col-12">
                                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.project.Name)</h5>
                                    @if (item.project.IsPublic == true)
                                    {
                                        <p>Access Policy: Public</p>
                                    }
                                    @if (item.project.IsPublic == false)
                                    {
                                        <p>Access Policy: Private</p>
                                    }
                                    <div class="d-flex">
                                        <div class="border rounded p-2 me-1 "><b>Outsourced Tasks:</b> @Html.DisplayFor(modelItem => item.totalTasks)</div>
                                        <div class="border rounded p-2 me-1 "><b>Total Paid for OutSourcing:</b> @Html.DisplayFor(modelItem => item.totalPaid) €</div>
                                        <div class="border rounded p-2 me-1 "><b>Total Offered for OutSourcing:</b> @Html.DisplayFor(modelItem => item.totalToPay) €</div>
                                    </div>
                                    <div class="d-flex flex-wrap">
                                        @if (item.project.CategoryTags != null)
                                        {
                                            @foreach (var tag in item.project.CategoryTags)
                                            {
                                                <button type="button" class="btn btn-sm button-colors" disabled>@Html.DisplayFor(modelItem => tag.Name)</button>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="d-flex flex-column col-md-2 col-12">
                                    <a type="button" class="btn button-colors mt-2" asp-controller="Projects" asp-action="Details" asp-route-id="@item.project.ProjectId">Details</a>
                                    <a type="button" class="btn button-colors mt-2" asp-controller="Projects" asp-action="Board" asp-route-id="@item.project.ProjectId">Board</a>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            }
            <a type="button" class="btn button-colors mt-2" class="center" asp-controller="Projects" asp-action="Create" style="text-decoration: none;">Create Project</a>
        </div>
    </div>
</div>

<style>
    .truncate {
        height: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .center {
        margin: auto;
        padding: 10px;
    }
</style>