﻿@model TaskLancer.Controllers.DashBoardController.OutSourcedTasksViewModel

<div>
    <h4 class="pt-3">Manager DashBoard</h4>
    <hr />
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" aria-current="page" asp-controller="DashBoard" asp-action="MyProjects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-controller="DashBoard" asp-action="OutSourcedTasks">Outsourced Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="DashBoard" asp-action="ManagerStats">Statistics</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        Published <span class="badge bg-secondary mx-1">@Model.totalPublished</span>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                        <div class="d-flex flex-wrap accordion-body">
                            @if(Model == null)
                            {
                                <h5>No Published Contracts</h5>
                            }else{
                                @foreach(var item in Model.contractingProcesses)
                                {
                                    @if(item.State == TaskLancer.Models.Contracting.DAL.ContractingProcessState.Published)
                                    {
                                        <div class="card overflow-auto m-2 card-style" style="max-width: 300px; min-width:250px;">
                                        <div class="card-body">
                                            <h5 class="card-title col-sm-11">@Html.DisplayFor(modelItem => item.Task.Title)</h5>                   
                                            <p class="card-text">@Html.DisplayFor(modelItem => item.Task.Description)</p>
                                            @if(item.Payment != null)
                                                {
                                                    <p class="card-text">Amount: @Html.DisplayFor(modelItem => item.Payment.SubTotal) €</p>
                                                }else{
                                                    <p class="card-text">Amount: @Html.DisplayFor(modelItem => item.Proposal.Amount) €</p>
                                                }
                                            <p class="card-text">Delivery date: @Html.DisplayFor(modelItem => item.Proposal.DeliveryDate)</p> 
                                            <div class="d-flex flex-wrap">
                                                @if(item.Task.SkillTags != null)
                                                {
                                                    @foreach(var tag in item.Task.SkillTags)
                                                    {       
                                                        <button type="button" class="btn btn-sm button-colors" disabled>@Html.DisplayFor(modelItem => tag.Name)</button>
                                                    }                      
                                                } 
                                            </div>
                                                 <a type="button" class="btn button-colors mt-2" style="max-height: 50px;" asp-controller="Contracting" asp-action="ByTask" asp-route-id ="@item.Task.TaskId">Details</a>                     
                                        </div>
                                    </div>
                                    } 
                                }
                            }                                    
                        </div>
                    </div>
        </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        Pending Payment <span class="badge bg-secondary mx-1">@Model.totalPendingPayment</span>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="d-flex flex-wrap accordion-body">                         
                            @if(Model == null)
                            {
                                <h5>No Published Contracts</h5>
                            }else{
                                @foreach(var item in Model.contractingProcesses)
                                {
                                    @if(item.State == TaskLancer.Models.Contracting.DAL.ContractingProcessState.Pending_Payment)
                                    {
                                        <div class="card overflow-auto m-2 card-style" style="max-width: 300px; min-width:250px;">
                                        <div class="card-body">
                                            <h5 class="card-title col-sm-11">@Html.DisplayFor(modelItem => item.Task.Title)</h5>                   
                                            <p class="card-text">@Html.DisplayFor(modelItem => item.Task.Description)</p>
                                            @if(item.Payment != null)
                                                {
                                                    <p class="card-text">Amount: @Html.DisplayFor(modelItem => item.Payment.SubTotal) €</p>
                                                }else{
                                                    <p class="card-text">Amount: @Html.DisplayFor(modelItem => item.Proposal.Amount) €</p>
                                                }
                                            <p class="card-text">Delivery date: @Html.DisplayFor(modelItem => item.Proposal.DeliveryDate)</p> 
                                            <div class="d-flex flex-wrap">
                                                @if(item.Task.SkillTags != null)
                                                {
                                                    @foreach(var tag in item.Task.SkillTags)
                                                    {       
                                                        <button type="button" class="btn btn-sm button-colors" disabled>@Html.DisplayFor(modelItem => tag.Name)</button>
                                                    }                      
                                                } 
                                            </div>
                                                  <a type="button" class="btn button-colors mt-2" style="max-height: 50px;" asp-controller="Contracting" asp-action="ByTask" asp-route-id ="@item.Task.TaskId">Details</a>                     
                                        </div>
                                    </div>
                                    }                                  
                                }
                            }                                    
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        Wainting For Delivery <span class="badge bg-secondary mx-1">@Model.totalWaitingForDelivery</span>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        <div class="d-flex flex-wrap accordion-body">
                            @if(Model == null)
                            {
                                <h5>No Published Contracts</h5>
                            }else{
                                @foreach(var item in Model.contractingProcesses)
                                {
                                    @if(item.State == TaskLancer.Models.Contracting.DAL.ContractingProcessState.Ordered)
                                    {
                                        <div class="card overflow-auto m-2 card-style" style="max-width: 300px; min-width:250px;">
                                        <div class="card-body">
                                            <h5 class="card-title col-sm-11">@Html.DisplayFor(modelItem => item.Task.Title)</h5>                   
                                            <p class="card-text">@Html.DisplayFor(modelItem => item.Task.Description)</p>
                                            @if(item.Payment != null)
                                                {
                                                    <p class="card-text">Amount: @Html.DisplayFor(modelItem => item.Payment.SubTotal) €</p>
                                                }else{
                                                    <p class="card-text">Amount: @Html.DisplayFor(modelItem => item.Proposal.Amount) €</p>
                                                }
                                            <p class="card-text">Delivery date: @Html.DisplayFor(modelItem => item.Proposal.DeliveryDate)</p> 
                                            <div class="d-flex flex-wrap">
                                                @if(item.Task.SkillTags != null)
                                                {
                                                    @foreach(var tag in item.Task.SkillTags)
                                                    {       
                                                        <button type="button" class="btn btn-sm button-colors" disabled>@Html.DisplayFor(modelItem => tag.Name)</button>
                                                    }                      
                                                } 
                                            </div>
                                                  <a type="button" class="btn button-colors mt-2" style="max-height: 50px;" asp-controller="Contracting" asp-action="ByTask" asp-route-id ="@item.Task.TaskId">Details</a>                     
                                        </div>
                                    </div>
                                    } 
                                }
                            }                                    
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                        Completed <span class="badge bg-secondary mx-1">@Model.totalCompleted</span>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        <div class="d-flex flex-wrap accordion-body">
                            @if(Model == null)
                            {
                                <h5>No Published Contracts</h5>
                            }else{
                                @foreach(var item in Model.contractingProcesses)
                                {
                                    @if(item.State == TaskLancer.Models.Contracting.DAL.ContractingProcessState.Completed)
                                    {
                                        <div class="card overflow-auto m-2 card-style" style="max-width: 300px; min-width:250px;">
                                        <div class="card-body">
                                            <h5 class="card-title col-sm-11">@Html.DisplayFor(modelItem => item.Task.Title)</h5>                   
                                            <p class="card-text">@Html.DisplayFor(modelItem => item.Task.Description)</p>
                                                @if(item.Payment != null)
                                                {
                                                    <p class="card-text">Amount: @Html.DisplayFor(modelItem => item.Payment.SubTotal) €</p>
                                                }else{
                                                    <p class="card-text">Amount: @Html.DisplayFor(modelItem => item.Proposal.Amount) €</p>
                                                }
                                            <p class="card-text">Delivery date: @Html.DisplayFor(modelItem => item.Proposal.DeliveryDate)</p> 
                                            <div class="d-flex flex-wrap">
                                                @if(item.Task.SkillTags != null)
                                                {
                                                    @foreach(var tag in item.Task.SkillTags)
                                                    {       
                                                        <button type="button" class="btn btn-sm button-colors" disabled>@Html.DisplayFor(modelItem => tag.Name)</button>
                                                    }                      
                                                } 
                                            </div>
                                                  <a type="button" class="btn button-colors mt-2" style="max-height: 50px;" asp-controller="Contracting" asp-action="ByTask" asp-route-id ="@item.Task.TaskId">Details</a>                      
                                        </div>
                                    </div>
                                    } 
                                }
                            }                                    
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                        Canceled <span class="badge bg-secondary mx-1"> @Model.totalCanceled</span>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                        <div class="d-flex flex-wrap accordion-body">
                            @if(Model == null)
                            {
                                <h5>No Published Contracts</h5>
                            }else{
                                @foreach(var item in Model.contractingProcesses)
                                {
                                    @if(item.State == TaskLancer.Models.Contracting.DAL.ContractingProcessState.Canceled)
                                    {
                                        <div class="card overflow-auto m-2 card-style" style="max-width: 300px; min-width:250px;">
                                        <div class="card-body">
                                            <h5 class="card-title col-sm-11">@Html.DisplayFor(modelItem => item.Task.Title)</h5>                   
                                            <p class="card-text">@Html.DisplayFor(modelItem => item.Task.Description)</p>
                                            @if(item.Payment != null)
                                                {
                                                    <p class="card-text">Amount: @Html.DisplayFor(modelItem => item.Payment.SubTotal) €</p>
                                                }else{
                                                    <p class="card-text">Amount: @Html.DisplayFor(modelItem => item.Proposal.Amount) €</p>
                                                }
                                            <p class="card-text">Delivery date: @Html.DisplayFor(modelItem => item.Proposal.DeliveryDate)</p> 
                                            <div class="d-flex flex-wrap">
                                                @if(item.Task.SkillTags != null)
                                                {
                                                    @foreach(var tag in item.Task.SkillTags)
                                                    {       
                                                        <button type="button" class="btn btn-sm button-colors" disabled>@Html.DisplayFor(modelItem => tag.Name)</button>
                                                    }                      
                                                } 
                                            </div>
                                                  <a type="button" class="btn button-colors mt-2" style="max-height: 50px;" asp-controller="Contracting" asp-action="ByTask" asp-route-id ="@item.Task.TaskId">Details</a>                       
                                        </div>
                                    </div>
                                    } 
                                }
                            }                                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .accordion-header.collapsed {
        background:#ccc;
    }

    .accordion-button:not(.collapsed) {
        color: black;
        background-color: #fff;
        box-shadow: inset 0 -1px 0 rgb(108 117 125 / 13%);
    }
</style>