﻿@model IEnumerable<TaskLancer.Models.Contracting.DAL.ContractingProcess>


<div>
    <h4 class="pt-3">FreeLancer DashBoard</h4>
    <hr />
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-controller="DashBoard" asp-action="UnderConsiderationTasks">Under Consideration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="DashBoard" asp-action="OnGoingTasks">On Going</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="DashBoard" asp-action="CompletedTasks">Completed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color"asp-controller="DashBoard" asp-action="CanceledTasks">Canceled</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="DashBoard" asp-action="FreelancerStats">Statistics</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="d-flex flex-wrap">
                    @if(Model == null)
                    {
                        <h5>No Published Contracts</h5>
                    }else{
                        @foreach(var item in Model)
                        {
                                <div class="card overflow-auto m-2 card-style" style="max-width: 300px; min-width:250px;">
                                <div class="card-body">
                                    <h5 class="card-title col-sm-11">@Html.DisplayFor(modelItem => item.Task.Title)</h5>
                                    <p class="card-text">Manager: @Html.DisplayFor(modelItem => item.Proposal.Manager.UserName)</p>
                                    <p class="card-text">@Html.DisplayFor(modelItem => item.Task.Description)</p>
                                    @if(item.Payment != null)
                                                {
                                                    <p class="card-text">Amount: @Html.DisplayFor(modelItem => item.Payment.SubTotal) €</p>
                                                }else{
                                                    <p class="card-text">Amount: @Html.DisplayFor(modelItem => item.Proposal.Amount) €</p>
                                                }
                                    <p class="card-text">Delivery date: @Html.DisplayFor(modelItem => item.Proposal.DeliveryDate)</p> 
                                    <div class="d-flex flex-wrap">
                                        @if(item.Task.SkillTags != null)
                                        {
                                            @foreach(var tag in item.Task.SkillTags)
                                            {       
                                                <button type="button" class="btn btn-sm button-colors" disabled>@Html.DisplayFor(modelItem => tag.Name)</button>
                                            }                      
                                        } 
                                    </div>
                                    <div class="d-flex justify-content-center">
                                             <a type="button" class="btn button-colors mt-2" style="max-height: 50px;" asp-controller="Contracting" asp-action="ByTask" asp-route-id ="@item.Task.TaskId">Details</a> 
                                    </div>                    
                                </div>
                            </div>                          
                        }
                    }                      
                </div>
        </div>
    </div>
</div>
