html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

:root {
    --bs-primary: #008085;
}

.auth-card {
    max-width: 420px;
}
body {
  
}

.body-container {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin: 0px !important;
}

.button-colors {
    background-color: white !important;
    border-color: #008085;
    color: #008085 !important;
}

.button-colors:hover {
    background-color: #008085 !important;
    border-color: #008085;
    color: white !important;
/*    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
*/}

.info-box {
    background-color: #008085;
    color: white;
}

.select2-selection__rendered {
    padding-top: 2em;
}


/*.select2-results {
    max-height: 50px;
}

.select2-choices {
    min-height: 50px;
    max-height: 50px;
    overflow-y: auto;
}*/

.select2-container--bootstrap-5 .select2-dropdown .select2-results__options:not(.select2-results__options--nested) {
    max-height: 8em !important;
}

.richText a {
    color: #008085 !important;
}

.tasklancer-color {
    color: #008085 !important;
}

span.select2-selection.select2-selection--multiple {
    background-color: white !important;
}

li.select2-selection__choice {
    background-color: #008085;
    color: white !important;
}

[aria-selected="true"] {
    background-color: #008085 !important;
}

.select2-selection__choice__remove {
    filter: brightness(1000%);
}

.richText-display-box {
    border: 1px solid #ced4da !important;
    border-radius: 5px;
    min-height: 250px;
}

input[type="checkbox"]:checked {
    background-color: #008085;
    border-color: #008085;
}

.fa-pencil-square-o {
    color: #008085;
}

.dropdown-item {
    white-space: normal !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-icon {
    background-color: transparent !important;
    border-color: transparent !important;
    border: 0px;
}

.dropdown-icon:hover {
    background-color: transparent !important;
    border-color: rgba(0,0,0,0.19);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.dropdown-icon:focus {
    background-color: transparent !important;
    border-color: rgba(0,0,0,0.19);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.card-style {
    background-color: white !important;
    border-color: #008085;
}

.card-item-style:focus {
    background-color: #008085 !important;
    border-color: #008085;
    color: white
}

.scrollspy {
    position: relative;
    height: 100%;
    overflow-y: scroll;
}