﻿@using TaskLancer.Models.Rating.BLL
@model TaskLancer.Models.Rating.BLL.ListOfReviewsViewModel
@{
    <div class="d-flex justify-content-around my-2">
        <div class="card flex-row p-1 align-items-center">
            <input id="radio_asManager_@Model.RadioButtonGroupName" class="stretched-link" type="radio" name="@Model.RadioButtonGroupName" checked value="As Manager"/><div class="mx-1"> As Manager </div><div class="badge bg-secondary">@Model.ReviewsAsManager.Count</div>
        </div>
        <div class="card flex-row p-1 align-items-center"> 
            <input id="radio_asFreelancer_@Model.RadioButtonGroupName" class="stretched-link" type="radio" name="@Model.RadioButtonGroupName" value="As Freelancer"/><div class="mx-1"> As Freelancer </div><div class="badge bg-secondary">@Model.ReviewsAsFreelancer.Count</div>
        </div> 
    </div>
    <div id="asManager_@Model.RadioButtonGroupName" class="">
        @if (Model.ReviewsAsManager.Count == 0)
        {
            <div class="alert alert-info">No reviews available</div>
        }   
        @foreach(ReviewViewModel review in Model.ReviewsAsManager)
        {
            Html.RenderPartialAsync("ReviewPartial", review);
        }
    </div>
    <div id="asFreelancer_@Model.RadioButtonGroupName" class="" style="display: none">
        @if (Model.ReviewsAsFreelancer.Count == 0)
        {
            <div class="alert alert-info">No reviews available</div>
        }
        @foreach(ReviewViewModel review in Model.ReviewsAsFreelancer)
        {
            Html.RenderPartialAsync("ReviewPartial", review);
        }
    </div>

}
<script type="text/javascript">
    $(document).on('click', '#radio_asManager_@Model.RadioButtonGroupName', function(){
        $('#asManager_@Model.RadioButtonGroupName').show();
        $('#asFreelancer_@Model.RadioButtonGroupName').hide();
    });

    $(document).on('click', '#radio_asFreelancer_@Model.RadioButtonGroupName', function(){
        $('#asManager_@Model.RadioButtonGroupName').hide();
        $('#asFreelancer_@Model.RadioButtonGroupName').show();
    });
</script>
