﻿@using TaskLancer.Models.Rating.BLL
@model IEnumerable<ContractingProcessWithPendingReviewViewModel>

<div class="d-flex flex-wrap">
    @if(Model.Count() == 0)
    {
        <div class="alert alert-info w-100">No pending reviews</div>
    }else{
        @foreach(var item in Model)
        {
            <div class="card overflow-auto m-2 card-style" style="max-width: 300px; min-width:300px;">
                <div class="card-body">
                    <h5 class="card-title col-sm-11">@Html.DisplayFor(modelItem => item.TaskTitle)</h5>                   
                    <p class="card-text">Task Manager: @Html.DisplayFor(modelItem => item.ManagerUsername)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.TaskDescription)</p>
                    <a type="button" class="btn button-colors mt-2" style="max-height: 50px;" asp-controller="Contracting" asp-action="Details" asp-route-id ="@item.ContractingProcessId">Details</a>                    
                </div>
            </div>
        }
    }           
</div>
