﻿@model TaskLancer.Models.Rating.BLL.ProfileRatingAndReviewsViewModel
@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="jquery.star-rating-svg.js"></script>
<link rel="stylesheet" type="text/css" href="star-rating-svg.css">*@

<div>
    <h4 class="pt-3">@ViewBag.UserName's Profile</h4>
    <hr />
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link tasklancer-color"  asp-controller="Profile" asp-action="DetailsUserProfile">Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-controller="Rating" asp-action="Index">Rating & Reviews</a>
                </li>
                @*<li class="nav-item">
                    <a class="nav-link tasklancer-color" href="#">Tasks Completed</a>
                </li>*@
            </ul>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-evenly flex-wrap">
                <div class="card card-body d-flex flex-column align-items-center" style="max-width: 20em;">
                    <b class="mb-1">Manager Rating:</b>
                    @if (!Double.IsNaN(ViewBag.ManagerRating))
                    {
                        <input id="managerRating" readonly type="number" min=0.1 max=5.0 step=0.1 value=@ViewBag.ManagerRating data-show-clear="false" data-show-caption="true" data-size="md" style="display: none;">
                    }else
                    {
                        <div class="alert alert-warning" style="width: fit-content;">Not enough data.</div>
                    }
                </div>
                <div class="card card-body d-flex flex-column align-items-center" style="max-width: 20em;">
                    <b class="mb-1">Freelancer Rating:</b>
                    @if (!Double.IsNaN(ViewBag.FreelancerRating))
                    {
                        <input id="freelancerRating" readonly type="number" min=0.1 max=5.0 step=0.1 value=@ViewBag.FreelancerRating data-show-clear="false" data-show-caption="true" data-size="md" style="display: none;">
                    } else
                    {
                        <div class="alert alert-warning" style="width: fit-content;">Not enough data.</div>
                    }
                </div>
            </div>
                
            <h4>Reviews</h4>
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <button id="recieved_review_link" class="nav-link active">Received</button><div class="badge bg-secondary"></div>
                        </li>
                        <li class="nav-item">
                            <button id="submitted_review_link" class="nav-link tasklancer-color">Submitted</button>
                        </li>
                        @if(ViewBag.Username == ViewBag.AuthenticatedUserUsername)
                        {
                            <li class="nav-item">
                                <button id="pending_reviews_link" class="nav-link tasklancer-color">Pending</button>
                            </li>
                        }             
                    </ul>
                </div>
                <div class="card-body">
                    <div id="received_reviews_partial"></div>
                    <div id="submitted_reviews_partial" style="display: none"></div>
                    @if(ViewBag.Username == ViewBag.AuthenticatedUserUsername)
                    {
                        <div id="pending_reviews_partial" style="display: none"></div>
                    }    
                </div>
            </div>
                
        </div>
    </div>
</div>


<script type="text/javascript">

    

    $(document).on('click', '#recieved_review_link', function(){
        $('#received_reviews_partial').show();
        $('#submitted_reviews_partial').hide();
        $('#pending_reviews_partial').hide();
            
        $('#recieved_review_link').addClass("active");
        $('#recieved_review_link').removeClass("tasklancer-color");

        $('#submitted_review_link').removeClass("active");
        $('#submitted_review_link').addClass("tasklancer-color");

        $('#pending_reviews_link').removeClass("active");
        $('#pending_reviews_link').addClass("tasklancer-color");
            
    });

    $(document).on('click', '#submitted_review_link', function(){
        $('#submitted_reviews_partial').show();
        $('#received_reviews_partial').hide();
        $('#pending_reviews_partial').hide();

        $('#submitted_review_link').addClass("active");
        $('#submitted_review_link').removeClass("tasklancer-color");

        $('#recieved_review_link').removeClass("active");
        $('#recieved_review_link').addClass("tasklancer-color");

        $('#pending_reviews_link').removeClass("active");
        $('#pending_reviews_link').addClass("tasklancer-color");
    });

    $(document).on('click', '#pending_reviews_link', function(){
        $('#pending_reviews_partial').show();
        $('#received_reviews_partial').hide();
        $('#submitted_reviews_partial').hide();

        $('#pending_reviews_link').addClass("active");
        $('#pending_reviews_link').removeClass("tasklancer-color");

        $('#recieved_review_link').removeClass("active");
        $('#recieved_review_link').addClass("tasklancer-color");

        $('#submitted_review_link').removeClass("active");
        $('#submitted_review_link').addClass("tasklancer-color");
    });
    
    $(function () {
        var received_reviews_partial = $("#received_reviews_partial");

        if(received_reviews_partial.length > 0){
            $.ajax({
                type: "GET",
                url: `${location.origin}/Rating/ReceivedReviewsPartial/@ViewBag.Username`,
                success: function (response) {
                    received_reviews_partial.html(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        var submitted_reviews_partial = $("#submitted_reviews_partial");

        if(submitted_reviews_partial.length > 0){
            $.ajax({
                type: "GET",
                url: `${location.origin}/Rating/SubmittedReviewsPartial/@ViewBag.Username`,
                success: function (response) {
                    submitted_reviews_partial.html(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        var pending_reviews_partial = $("#pending_reviews_partial");

        if(pending_reviews_partial.length > 0){
            $.ajax({
                type: "GET",
                url: `${location.origin}/Rating/PendingReviewsPartial`,
                success: function (response) {
                    pending_reviews_partial.html(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }            
    });

    $("#managerRating").rating({
        starCaptions: function(val) {
            return val.toFixed(1);
        },
        starCaptionClasses: function(val) {
            
            return 'caption-badge caption-secondary';
        }
    });

    $("#freelancerRating").rating({
        starCaptions: function(val) {
            return val.toFixed(1);
        },
        starCaptionClasses: function(val) {
            
            return 'caption-badge caption-secondary';
        }
    });
</script>
