﻿@using TaskLancer.Models.Rating.BLL
@model TaskLancer.Models.Rating.BLL.ListOfReviewsViewModel
@{
    @*<div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="Rating" asp-action="ReceivedReviewsPartial">Received</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-controller="Rating" asp-action="SubmittedReviewsPartial">Submitted</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tasklancer-color" asp-controller="Rating" asp-action="">Pending</a>
                </li>
            </ul>
        </div>        
        
    </div>*@
    <div class="d-flex justify-content-around mt-2">
        <div>
            <input id="radio_submitted_asManager" type="radio" name="submitted_role" checked value="As Manager"/><label>As Manager</label>
        </div>
        <div>
            <input id="radio_submitted_asFreelancer" type="radio" name="submitted_role" value="As Freelancer"/><label>As Freelancer</label>
        </div> 
    </div>
    <div id="submitted_asManager">
        @foreach(ReviewViewModel review in Model.ReviewsAsManager)
        {
            <div class="card m-4">
                <div class="card-header d-flex justify-content-between">
                    <div>To: @review.SubjectUsername</div>
                    <div>@review.SubmittedOn</div>
                    <div>@review.Score</div>
                </div>
                <div class="card-body">
                    @review.Comment
                </div>
            </div>
        }
    </div>
    <div id="submitted_asFreelancer" style="display: none">
        @foreach(ReviewViewModel review in Model.ReviewsAsFreelancer)
        {
            <div class="card m-4">
                <div class="card-header d-flex justify-content-between">
                    <div>To: <a asp-controller="Profile" asp-action="Details" asp-route-username="@review.SubjectUsername">@review.SubjectUsername</a></div>
                    <div>@review.SubmittedOn</div>
                    <div>@review.Score</div>
                </div>
                <div class="card-body">
                    @review.Comment
                </div>
            </div>
        }
    </div>

}
<script type="text/javascript">
    $(document).on('click', '#radio_submitted_asManager', function(){
        $('#submitted_asManager').show();
        $('#submitted_asFreelancer').hide();
    });

    $(document).on('click', '#radio_submitted_asFreelancer', function(){
        $('#submitted_asManager').hide();
        $('#submitted_asFreelancer').show();
    });
</script>
