﻿@model TaskLancer.Models.Rating.BLL.ReviewViewModel;

<div id="review-@Model.Id" class="card my-2">
    <div class="card-header d-flex justify-content-between">
        <div>By: <a asp-controller="Profile" asp-action="Details" asp-route-username="@Model.AuthorUsername">@Model.AuthorUsername</a></div>
        <div>@Model.SubmittedOn</div>
        <input id="Score" readonly type="number" min=0.1 max=5.0 step=0.1 value=@Model.Score data-show-clear="false" data-show-caption="true" data-size="sm" style="display: none;">
    </div>
    <div class="card-body">
        @Model.Comment
    </div>
</div>

<script type="text/javascript">
    $("#review-@Model.Id").find("#Score").rating({
        starCaptions: function(val) {
            return val.toFixed(1);
        },
        starCaptionClasses: function(val) {
            
            return 'caption-badge caption-secondary';
        }
    });
</script>