﻿@model TaskLancer.Models.Rating.BLL.ReviewViewModel;

@{
    <div id="review-@Model.Id" class="card mt-2">
        <div class="card-body">
            @if(Model.IsAuthor){
                <h4 class="card-title">Submitted Review</h4>
            }else{
                <h4 class="card-title">Received Review</h4>
            }      
             <div class="d-flex justify-content-between align-items-center">
                <div class="fw-bold">Score: </div>
                <input id="Score" readonly type="number" min=0.1 max=5.0 step=0.1 value=@Model.Score data-show-clear="false" data-show-caption="true" data-size="md" style="display: none;">
            </div>
            <div class="d-flex flex-column">
                <div class="fw-bold">Comment: </div>
                <div class="w-100 border rounded bg-light p-1">@Model.Comment</div>
            </div>
        </div>
    </div>
}


<script type="text/javascript">
    $("#review-@Model.Id").find("#Score").rating({
        starCaptions: function(val) {
            return val.toFixed(1);
        },
        starCaptionClasses: function(val) {
            
            return 'caption-badge caption-secondary';
        }
    });
</script>
