﻿@model TaskLancer.Models.Rating.BLL.ReviewViewModel


<div id="review-@ViewBag.ReviewId" class="card mt-2">
    <div class="card-body">
        <h4 class="card-title">Submit Review</h4>
        <form asp-action="SubmitReview" asp-route-redirectUrl="@ViewBag.RedirectUrl">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input hidden asp-for="Id" class="form-control" value="@ViewBag.ReviewId" />
            </div>
            <div class="form-group">
                <input hidden asp-for="ContractingProcessId" class="form-control" value="@ViewBag.ContractingProcessId" />
            </div>
            <div class="form-group row my-2">
                <div class="col-12 col-xl-3 d-flex align-items-center">
                    <label asp-for="Score" class="control-label"><b>Score</b>:</label>
                </div>
                <div class="col-12 col-xl-9">
                    <input required asp-for="Score" type="number" min=0.1 max=5.0 step=0.1 value=2.5 data-show-clear="false" data-show-caption="true" data-size="md" style="display: none;">
                    <span asp-validation-for="Score" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row my-2">
                <div class="col-12">
                    <label asp-for="Comment" class="control-label"><b>Comment</b>:*</label>
                </div>
                <div class="col-12">
                    <textarea required asp-for="Comment" class="form-control"></textarea>
                    <span asp-validation-for="Comment" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group d-flex justify-content-between mt-2">
                <input type="submit" value="Submit" class="btn button-colors" />
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">
    $("#review-@ViewBag.ReviewId").find("#Score").rating({
        starCaptions: function(val) {
            return val.toFixed(1);
        },
        starCaptionClasses: function(val) {
            
            return 'caption-badge caption-secondary';
            
        }
    });



    function updateScoreInput(val){
        document.getElementById('scoreInput').val(val);
    }

</script>
